In [1]:
# Import dependencies
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 400)
file1="City_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv"
file2="../Project-3-Group-4/uscities_main.csv"
file3="../Project-3-Group-4/600K US Housing Properties.csv"
file4="../Project-3-Group-4/cities.json"

### Extract the crowdfunding.xlsx Data

In [2]:
uscities_prices = pd.read_csv(file1)
uscities_prices

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,2000-01-31,2000-02-29,...,2022-11-30,2022-12-31,2023-01-31,2023-02-28,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31
0,6181,0,New York,city,NY,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,233968.364425,235213.501084,...,766549.922037,760967.314059,753542.664914,745253.018176,739029.894122,736507.157206,736317.767302,736593.062315,735714.868318,733844.529816
1,12447,1,Los Angeles,city,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,220520.005437,220853.896732,...,928556.334329,926313.788462,917859.191093,904745.376863,890707.649127,884267.685886,884572.061072,890303.725763,901454.746230,916726.552897
2,39051,2,Houston,city,TX,TX,"Houston-The Woodlands-Sugar Land, TX",Harris County,101098.174825,101072.488436,...,266300.561655,265701.584259,264432.960905,263034.004529,262069.737178,261750.575374,262013.032335,262885.890103,263829.913875,264789.298812
3,17426,3,Chicago,city,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,143296.270440,143334.554887,...,284804.563192,283917.576303,282773.154202,281822.727238,281642.664781,282497.600077,283500.200425,284609.674980,285894.043210,287709.262712
4,6915,4,San Antonio,city,TX,TX,"San Antonio-New Braunfels, TX",Bexar County,98022.284380,98113.286803,...,267037.175611,266566.855432,265922.874306,264832.228651,263627.759314,262597.928534,262365.894507,262678.183858,262902.945177,263039.612010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21612,39180,30116,Jumpertown,city,MS,MS,"Tupelo, MS",Prentiss County,NaN,NaN,...,135710.675551,133260.790306,130688.632627,129029.173444,127805.881657,128580.185684,130352.444222,131331.740583,131146.166704,129569.017676
21613,51728,30116,Dollar Bay,city,MI,MI,"Houghton, MI",Houghton County,NaN,NaN,...,152531.588076,152612.504680,153706.371678,154018.216245,154837.797504,156011.597857,158551.354243,160391.434671,161053.212873,162083.026531
21614,4769,30116,Fort Howard,city,MD,MD,"Baltimore-Columbia-Towson, MD",Baltimore County,NaN,NaN,...,300591.040088,299512.111393,299165.087334,299220.968592,300763.625781,302566.110071,305420.765256,307980.585358,310150.746171,312004.157660
21615,25149,30116,Hoisington,city,KS,KS,"Great Bend, KS",Barton County,NaN,NaN,...,73718.585312,73134.806122,71889.701377,70776.367869,70433.613456,71099.383718,71942.234457,72715.747723,74081.706904,76059.495806
21616,32723,30116,Martin City,city,MT,MT,"Kalispell, MT",Flathead County,NaN,NaN,...,555315.611665,547763.201710,536884.510156,525862.088277,518179.009635,517635.432506,520387.938222,525493.888431,530088.582155,533229.234254

In [3]:
uscities_prices.columns

Index(['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName',
       'State', 'Metro', 'CountyName', '2000-01-31', '2000-02-29',
       ...
       '2022-11-30', '2022-12-31', '2023-01-31', '2023-02-28', '2023-03-31',
       '2023-04-30', '2023-05-31', '2023-06-30', '2023-07-31', '2023-08-31'],
      dtype='object', length=292)

In [4]:
uscities_lat_long = pd.read_csv(file2)
uscities_lat_long.head(5)

,city,city_ascii,state_id,state_name,county_fips,county_name,lat,lng,population,density,source,military,incorporated,timezone,ranking,zips,id
0,New York,New York,NY,New York,36081,Queens,40.6943,-73.9249,18972871,10768.2,shape,False,True,America/New_York,1,11229 11226 11225 11224 11223 11221 11220 11385 10169 10168 10167 10165 10162 10282 10280 10040 10044 11109 11102 11103 11106 11104 11379 11378 11377 11697 11694 11692 11693 11691 10271 10279 10278 10075 10303 10302 10301 11249 10452 11451 10475 10474 10471 10470 10473 10472 11228 11222 10103 11368 11369 11366 11367 11364 11365 11362 11363 11360 11361 10028 10029 10026 10027 10024 10025 10022 ...,1840034016
1,Los Angeles,Los Angeles,CA,California,6037,Los Angeles,34.1141,-118.4068,12121244,3267.6,shape,False,True,America/Los_Angeles,1,90291 90293 90292 91316 91311 90035 90034 90037 90031 90039 90008 90004 90005 90006 90007 90001 90002 90003 91504 90710 90089 91306 91344 91345 91340 91342 91343 90036 90247 90248 91436 91371 91608 91605 91604 91607 91606 91601 91602 90402 90068 90069 90062 90063 90061 90066 90067 90064 90065 91326 91324 91325 90013 90012 90011 90010 90017 90016 90015 90014 90019 90095 90094 91042 91040 91411 ...,1840020491
2,Chicago,Chicago,IL,Illinois,17031,Cook,41.8375,-87.6866,8595181,4576.6,shape,False,True,America/Chicago,1,60018 60649 60641 60640 60643 60642 60645 60644 60647 60646 60616 60617 60614 60615 60612 60613 60610 60611 60618 60619 60827 60661 60660 60638 60639 60634 60636 60637 60630 60631 60632 60633 60605 60604 60607 60606 60601 60603 60602 60609 60608 60106 60659 60652 60653 60656 60657 60654 60655 60651 60623 60622 60621 60620 60626 60625 60624 60629 60628 60707 60499 60664 60666 60668 60669 60670 ...,1840000494
3,Miami,Miami,FL,Florida,12086,Miami-Dade,25.7840,-80.2101,5711945,4945.7,shape,False,True,America/New_York,1,33128 33129 33125 33126 33127 33149 33144 33145 33142 33139 33138 33137 33136 33135 33134 33133 33132 33131 33130 33150 33101 33109 33111 33151 33222 33231 33233 33238 33255 33299,1840015149
4,Dallas,Dallas,TX,Texas,48113,Dallas,32.7935,-96.7667,5668165,1522.2,shape,False,True,America/Chicago,1,75287 75098 75234 75254 75251 75252 75253 75032 75238 75232 75233 75230 75231 75236 75237 75235 75089 75088 75087 75247 75244 75249 75248 75051 75223 75210 75211 75212 75214 75215 75216 75217 75218 75219 75390 75182 75229 75228 75220 75225 75224 75227 75226 75243 75241 75240 75246 75043 75166 75270 75207 75206 75205 75204 75203 75202 75201 75209 75208 75019 75221 75222 75242 75250 75260 75262 ...,1840019440

In [5]:
uscities_lat_long.columns

Index(['city', 'city_ascii', 'state_id', 'state_name', 'county_fips',
       'county_name', 'lat', 'lng', 'population', 'density', 'source',
       'military', 'incorporated', 'timezone', 'ranking', 'zips', 'id'],
      dtype='object')

In [6]:
US_Housing_Properties = pd.read_csv(file3)
US_Housing_Properties.head()

C:\Users\tedta\AppData\Local\Temp\ipykernel_9864\3584903774.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  US_Housing_Properties = pd.read_csv(file3)

,property_url,property_id,address,street_name,apartment,city,state,latitude,longitude,postcode,...,property_type,property_status,year_build,total_num_units,listing_age,RunDate,agency_name,agent_name,agent_phone,is_owned_by_zillow
0,https://www.zillow.com/homedetails/3-Plat-83-10-Wrangell-AK-99929/2064212272_zpid/,2064212272,"3 Plat #83-10, Wrangell, AK 99929",Plat #83-10,NaN,Wrangell,AK,NaN,NaN,99929,...,LOT,FOR_SALE,NaN,NaN,-1,2022-04-24 07:34:15,Anchor Properties,NaN,NaN,0
1,https://www.zillow.com/homedetails/117-3rd-St-Wrangell-AK-99929/249518113_zpid/,249518113,"117 3rd St, Wrangell, AK 99929",3rd St,NaN,Wrangell,AK,56.474518,-132.38600,99929,...,SINGLE_FAMILY,FOR_SALE,NaN,NaN,-1,2022-04-24 07:34:15,NaN,NaN,NaN,0
2,https://www.zillow.com/homedetails/LOT-2A-Front-St-Wrangell-AK-99929/2077729913_zpid/,2077729913,"LOT 2A Front St, Wrangell, AK 99929",LOT 2A Front St,NaN,Wrangell,AK,56.471638,-132.38686,99929,...,LOT,FOR_SALE,NaN,NaN,-1,2022-04-24 07:34:15,NaN,NaN,NaN,0
3,https://www.zillow.com/homedetails/LOT-A-Plat-2009-6-Wrangell-AK-99929/2067488502_zpid/,2067488502,"LOT A Plat #2009-6, Wrangell, AK 99929",LOT A Plat #2009-6,NaN,Wrangell,AK,NaN,NaN,99929,...,SINGLE_FAMILY,FOR_SALE,NaN,NaN,-1,2022-04-24 07:34:15,"Petersburg Properties, LLC",NaN,NaN,0
4,https://www.zillow.com/homedetails/335-Cassiar-St-Wrangell-AK-99929/249518139_zpid/,249518139,"335 Cassiar St, Wrangell, AK 99929",Cassiar St,NaN,Wrangell,AK,56.475697,-132.38905,99929,...,SINGLE_FAMILY,FOR_SALE,NaN,NaN,-1,2022-04-24 07:34:15,NaN,NaN,NaN,0

In [7]:
US_Housing_Properties.columns

Index(['property_url', 'property_id', 'address', 'street_name', 'apartment',
       'city', 'state', 'latitude', 'longitude', 'postcode', 'price',
       'bedroom_number', 'bathroom_number', 'price_per_unit', 'living_space',
       'land_space', 'land_space_unit', 'broker_id', 'property_type',
       'property_status', 'year_build', 'total_num_units', 'listing_age',
       'RunDate', 'agency_name', 'agent_name', 'agent_phone',
       'is_owned_by_zillow'],
      dtype='object')

In [8]:
# Drop unwanted columns
uscities_newcolumns_df = uscities_prices_df.drop(columns=["SizeRank","RegionType","State","Metro","CountyName"])
uscities_newcolumns_df

NameError: name 'uscities_prices_df' is not defined

In [ ]:
uscities_renamecolumns_df = uscities_newcolumns_df.rename(columns={"RegionID": "ID","RegionName":"city","StateName":"state"})
uscities_renamecolumns_df

In [ ]:
#Drop non values
uscities_dropnanvalue_df = uscities_renamecolumns_df.dropna()
uscities_dropnanvalue_df

In [ ]:
uscities_dropnanvalue_df.dtypes

In [ ]:
uscities_dropnanvalue_df["Ave_Price_2000"] = uscities_dropnanvalue_df.loc[:, ["2000-01-31","2000-02-29","2000-03-31",
                                                     "2000-04-30","2000-05-31","2000-06-30","2000-07-31","2000-08-31",
                                                     "2000-09-30","2000-10-31","2000-11-30","2000-12-31"]].mean(axis = 1)

In [ ]:
uscities_dropnanvalue_df["Ave_Price_2001"] = uscities_dropnanvalue_df.loc[:, ("2001-01-31","2001-02-28","2001-03-31",
                                                     "2001-04-30","2001-05-31","2001-06-30","2001-07-31","2001-08-31",
                                                     "2001-09-30","2001-10-31","2001-11-30","2001-12-31")].mean(axis = 1)

In [ ]:
uscities_dropnanvalue_df["Ave_Price_2002"] = uscities_dropnanvalue_df.loc[:, ("2002-01-31","2002-02-28","2002-03-31",
                                                     "2002-04-30","2002-05-31","2002-06-30","2002-07-31","2002-08-31",
                                                     "2002-09-30","2002-10-31","2002-11-30","2002-12-31")].mean(axis = 1)

In [ ]:
uscities_dropnanvalue_df["Ave_Price_2003"] = uscities_dropnanvalue_df.loc[:, ("2003-01-31","2003-02-28","2003-03-31",
                                                     "2003-04-30","2003-05-31","2003-06-30","2003-07-31","2003-08-31",
                                                     "2003-09-30","2003-10-31","2003-11-30","2003-12-31")].mean(axis = 1)

In [ ]:
uscities_dropnanvalue_df["Ave_Price_2004"] = uscities_dropnanvalue_df.loc[:, ("2004-01-31","2004-02-29","2004-03-31",
                                                     "2004-04-30","2004-05-31","2004-06-30","2004-07-31","2004-08-31",
                                                     "2004-09-30","2004-10-31","2004-11-30","2004-12-31")].mean(axis = 1)

In [ ]:
uscities_dropnanvalue_df["Ave_Price_2005"] = uscities_dropnanvalue_df.loc[:, ("2005-01-31","2005-02-28","2005-03-31",
                                                     "2005-04-30","2005-05-31","2005-06-30","2005-07-31","2004-08-31",
                                                     "2005-09-30","2005-10-31","2005-11-30","2005-12-31")].mean(axis = 1)

In [ ]:
uscities_dropnanvalue_df["Ave_Price_2006"] = uscities_dropnanvalue_df.loc[:, ("2006-01-31","2006-02-28","2006-03-31",
                                                     "2006-04-30","2006-05-31","2006-06-30","2006-07-31","2006-08-31",
                                                     "2006-09-30","2006-10-31","2006-11-30","2006-12-31")].mean(axis = 1)

In [ ]:
uscities_dropnanvalue_df["Ave_Price_2007"] = uscities_dropnanvalue_df.loc[:, ("2007-01-31","2007-02-28","2007-03-31",
                                                     "2007-04-30","2007-05-31","2007-06-30","2007-07-31","2007-08-31",
                                                     "2007-09-30","2007-10-31","2007-11-30","2007-12-31")].mean(axis = 1)

In [ ]:
uscities_dropnanvalue_df["Ave_Price_2008"] = uscities_dropnanvalue_df.loc[:, ("2008-01-31","2008-02-29","2008-03-31",
                                                     "2008-04-30","2008-05-31","2008-06-30","2008-07-31","2008-08-31",
                                                     "2008-09-30","2008-10-31","2008-11-30","2008-12-31")].mean(axis = 1)

In [ ]:
uscities_dropnanvalue_df["Ave_Price_2009"] = uscities_dropnanvalue_df.loc[:, ("2009-01-31","2009-02-28","2009-03-31",
                                                     "2009-04-30","2009-05-31","2009-06-30","2009-07-31","2009-08-31",
                                                     "2009-09-30","2009-10-31","2009-11-30","2009-12-31")].mean(axis = 1)

In [ ]:
uscities_dropnanvalue_df["Ave_Price_2010"] = uscities_dropnanvalue_df.loc[:, ("2010-01-31","2010-02-28","2010-03-31",
                                                     "2010-04-30","2010-05-31","2010-06-30","2010-07-31","2010-08-31",
                                                     "2010-09-30","2010-10-31","2010-11-30","2010-12-31")].mean(axis = 1)

In [ ]:
uscities_dropnanvalue_df["Ave_Price_2011"] = uscities_dropnanvalue_df.loc[:, ("2011-01-31","2011-02-28","2011-03-31",
                                                     "2011-04-30","2011-05-31","2011-06-30","2011-07-31","2011-08-31",
                                                     "2011-09-30","2011-10-31","2011-11-30","2011-12-31")].mean(axis = 1)

In [ ]:
uscities_dropnanvalue_df["Ave_Price_2012"] = uscities_dropnanvalue_df.loc[:, ("2012-01-31","2012-02-29","2012-03-31",
                                                     "2012-04-30","2012-05-31","2012-06-30","2012-07-31","2012-08-31",
                                                     "2012-09-30","2012-10-31","2012-11-30","2012-12-31")].mean(axis = 1)

In [ ]:
uscities_dropnanvalue_df["Ave_Price_2013"] = uscities_dropnanvalue_df.loc[:, ("2013-01-31","2013-02-28","2013-03-31",
                                                     "2013-04-30","2013-05-31","2013-06-30","2013-07-31","2013-08-31",
                                                     "2013-09-30","2013-10-31","2013-11-30","2013-12-31")].mean(axis = 1)

In [ ]:
uscities_dropnanvalue_df["Ave_Price_2014"] = uscities_dropnanvalue_df.loc[:, ("2014-01-31","2014-02-28","2014-03-31",
                                                     "2014-04-30","2014-05-31","2014-06-30","2014-07-31","2014-08-31",
                                                     "2014-09-30","2014-10-31","2014-11-30","2014-12-31")].mean(axis = 1)

In [ ]:
uscities_dropnanvalue_df["Ave_Price_2015"] = uscities_dropnanvalue_df.loc[:, ("2015-01-31","2015-02-28","2015-03-31",
                                                     "2015-04-30","2015-05-31","2015-06-30","2015-07-31","2015-08-31",
                                                     "2015-09-30","2015-10-31","2015-11-30","2015-12-31")].mean(axis = 1)

In [ ]:
uscities_dropnanvalue_df["Ave_Price_2016"] = uscities_dropnanvalue_df.loc[:, ("2016-01-31","2016-02-29","2016-03-31",
                                                     "2016-04-30","2016-05-31","2016-06-30","2016-07-31","2016-08-31",
                                                     "2016-09-30","2016-10-31","2016-11-30","2016-12-31")].mean(axis = 1)

In [ ]:
uscities_dropnanvalue_df["Ave_Price_2017"] = uscities_dropnanvalue_df.loc[:, ("2017-01-31","2017-02-28","2017-03-31",
                                                     "2017-04-30","2017-05-31","2017-06-30","2017-07-31","2017-08-31",
                                                     "2017-09-30","2017-10-31","2017-11-30","2017-12-31")].mean(axis = 1)

In [ ]:
uscities_dropnanvalue_df["Ave_Price_2018"] = uscities_dropnanvalue_df.loc[:, ("2018-01-31","2018-02-28","2018-03-31",
                                                     "2018-04-30","2018-05-31","2018-06-30","2018-07-31","2018-08-31",
                                                     "2018-09-30","2018-10-31","2018-11-30","2018-12-31")].mean(axis = 1)

In [ ]:
uscities_dropnanvalue_df["Ave_Price_2019"] = uscities_dropnanvalue_df.loc[:, ("2019-01-31","2019-02-28","2019-03-31",
                                                     "2019-04-30","2019-05-31","2019-06-30","2019-07-31","2019-08-31",
                                                     "2019-09-30","2019-10-31","2019-11-30","2019-12-31")].mean(axis = 1)

In [ ]:
uscities_dropnanvalue_df["Ave_Price_2020"] = uscities_dropnanvalue_df.loc[:, ("2020-01-31","2020-02-29","2020-03-31",
                                                     "2020-04-30","2020-05-31","2020-06-30","2020-07-31","2020-08-31",
                                                     "2020-09-30","2020-10-31","2020-11-30","2020-12-31")].mean(axis = 1)

In [ ]:
uscities_dropnanvalue_df["Ave_Price_2021"] = uscities_dropnanvalue_df.loc[:, ("2021-01-31","2021-02-28","2021-03-31",
                                                     "2021-04-30","2021-05-31","2021-06-30","2021-07-31","2021-08-31",
                                                     "2021-09-30","2021-10-31","2021-11-30","2021-12-31")].mean(axis = 1)

In [ ]:
uscities_dropnanvalue_df["Ave_Price_2022"] = uscities_dropnanvalue_df.loc[:, ("2022-01-31","2022-02-28","2022-03-31",
                                                     "2022-04-30","2022-05-31","2022-06-30","2022-07-31","2022-08-31",
                                                     "2022-09-30","2022-10-31","2022-11-30","2022-12-31")].mean(axis = 1)

In [ ]:
uscities_dropnanvalue_df["Ave_Price_2023"] = uscities_dropnanvalue_df.loc[:, ("2023-01-31","2023-02-28","2023-03-31",
                                                     "2023-04-30","2023-05-31","2023-06-30","2023-07-31","2023-08-31")].mean(axis = 1)

In [ ]:
uscities_dropnanvalue_df

In [ ]:
uscities_means_df = uscities_dropnanvalue_df[["ID","city","state","Ave_Price_2000","Ave_Price_2001","Ave_Price_2002","Ave_Price_2003",
                                             "Ave_Price_2004","Ave_Price_2005","Ave_Price_2006","Ave_Price_2007",
                                              "Ave_Price_2008","Ave_Price_2009","Ave_Price_2010","Ave_Price_2011",
                                             "Ave_Price_2012","Ave_Price_2013","Ave_Price_2014","Ave_Price_2015",
                                              "Ave_Price_2016","Ave_Price_2017","Ave_Price_2018","Ave_Price_2019",
                                              "Ave_Price_2020","Ave_Price_2021","Ave_Price_2022","Ave_Price_2023"
                                             ]]

In [ ]:
uscities_means_df["Total_Ave_Price"] = uscities_means_df.loc[:, ("Ave_Price_2000","Ave_Price_2001","Ave_Price_2002","Ave_Price_2003",
                                             "Ave_Price_2004","Ave_Price_2005","Ave_Price_2006","Ave_Price_2007",
                                              "Ave_Price_2008","Ave_Price_2009","Ave_Price_2010","Ave_Price_2011",
                                             "Ave_Price_2012","Ave_Price_2013","Ave_Price_2014","Ave_Price_2015",
                                              "Ave_Price_2016","Ave_Price_2017","Ave_Price_2018","Ave_Price_2019",
                                              "Ave_Price_2020","Ave_Price_2021","Ave_Price_2022","Ave_Price_2023")].mean(axis = 1)

In [ ]:
USCities_AvePrices = uscities_means_df

In [ ]:
USCities_AvePrices.to_csv("output/USCities_AvePrices.csv", index=False)

In [ ]:
USCities_AvePrices

In [ ]:
#greate a data frame 
usc_lat_long_df = pd.DataFrame(data=uscities_lat_long)

In [ ]:
#drop nan values,
usc_lat_long_drop = usc_lat_long_df.dropna()

In [ ]:
usc_lat_long_drop.columns

In [ ]:
usc_lat_long_columns = usc_lat_long_drop.drop(columns=['city_ascii', 'state_id', 'state_name', 'county_fips',
       'county_name', 'source',
       'military', 'incorporated', 'timezone', 'ranking', 'zips', 'id'])
usc_lat_long = usc_lat_long_columns
usc_lat_long

In [57]:
file8="../Project-3-Group-4/output/USCities.csv"
df8=pd.read_csv(file8)

In [58]:
df8.head()

,ID,city,state,Ave_Price_2000,Ave_Price_2001,Ave_Price_2002,Ave_Price_2003,Ave_Price_2004,Ave_Price_2005,Ave_Price_2006,...,Ave_Price_2019,Ave_Price_2020,Ave_Price_2021,Ave_Price_2022,Ave_Price_2023,Total_Ave_Price,lat,lng,population,density
0,6181.0,New York,NY,246019.9807,278408.7788,302725.6542,336616.0004,378900.4936,436514.4077,502019.6135,...,694857.7493,702979.8358,727060.2273,769957.5207,739600.3703,510036.1742,40.6943,-73.9249,18972871.0,10768.2
1,12447.0,Los Angeles,CA,229986.9636,253372.5510,287390.3814,342003.5843,425282.6304,510823.9690,590413.0968,...,687676.7840,730268.6686,834153.1659,928229.4464,898829.6236,522852.8879,34.1141,-118.4068,12121244.0,3267.6
2,39051.0,Houston,TX,101601.6532,103607.4729,106747.0771,110350.5020,116715.5310,122166.7882,124250.8707,...,188491.1010,196896.1615,221789.6804,258327.3999,263100.6766,148171.5662,29.7860,-95.3885,5650910.0,1394.6
3,55829.0,Houston,OH,105659.2129,111731.4379,113266.1240,116107.6438,118621.1089,120571.0116,123144.6656,...,172399.1987,182078.1327,210624.0960,230619.1986,238112.3572,144956.9575,29.7860,-95.3885,5650910.0,1394.6
4,17426.0,Chicago,IL,148491.3012,165693.5219,182128.6158,198948.0997,219230.9876,242676.3124,267601.5440,...,249870.3490,257236.7489,278134.8084,289146.8459,283806.1660,223904.3009,41.8375,-87.6866,8595181.0,4576.6

In [59]:
df8.dtypes

ID                 float64
city                object
state               object
Ave_Price_2000     float64
Ave_Price_2001     float64
Ave_Price_2002     float64
Ave_Price_2003     float64
Ave_Price_2004     float64
Ave_Price_2005     float64
Ave_Price_2006     float64
Ave_Price_2007     float64
Ave_Price_2008     float64
Ave_Price_2009     float64
Ave_Price_2010     float64
Ave_Price_2011     float64
Ave_Price_2012     float64
Ave_Price_2013     float64
Ave_Price_2014     float64
Ave_Price_2015     float64
Ave_Price_2016     float64
Ave_Price_2017     float64
Ave_Price_2018     float64
Ave_Price_2019     float64
Ave_Price_2020     float64
Ave_Price_2021     float64
Ave_Price_2022     float64
Ave_Price_2023     float64
Total_Ave_Price    float64
lat                float64
lng                float64
population         float64
density            float64
dtype: object

In [60]:
df9=pd.read_json(file4)

In [61]:
df9.head()

,city,growth_from_2000_to_2013,latitude,longitude,population,rank,state
0,New York,4.8%,40.712784,-74.005941,8405837,1,New York
1,Los Angeles,4.8%,34.052234,-118.243685,3884307,2,California
2,Chicago,-6.1%,41.878114,-87.629798,2718782,3,Illinois
3,Houston,11.0%,29.760427,-95.369803,2195914,4,Texas
4,Philadelphia,2.6%,39.952584,-75.165222,1553165,5,Pennsylvania

In [62]:
result = pd.concat([df9, df8], axis=1, join="inner")

In [63]:
result

,city,growth_from_2000_to_2013,latitude,longitude,population,rank,state,ID,city,state,...,Ave_Price_2019,Ave_Price_2020,Ave_Price_2021,Ave_Price_2022,Ave_Price_2023,Total_Ave_Price,lat,lng,population,density
0,New York,4.8%,40.712784,-74.005941,8405837,1,New York,6181.0,New York,NY,...,694857.74930,702979.83580,727060.2273,769957.5207,739600.3703,510036.17420,40.6943,-73.9249,18972871.0,10768.2
1,Los Angeles,4.8%,34.052234,-118.243685,3884307,2,California,12447.0,Los Angeles,CA,...,687676.78400,730268.66860,834153.1659,928229.4464,898829.6236,522852.88790,34.1141,-118.4068,12121244.0,3267.6
2,Chicago,-6.1%,41.878114,-87.629798,2718782,3,Illinois,39051.0,Houston,TX,...,188491.10100,196896.16150,221789.6804,258327.3999,263100.6766,148171.56620,29.7860,-95.3885,5650910.0,1394.6
3,Houston,11.0%,29.760427,-95.369803,2195914,4,Texas,55829.0,Houston,OH,...,172399.19870,182078.13270,210624.0960,230619.1986,238112.3572,144956.95750,29.7860,-95.3885,5650910.0,1394.6
4,Philadelphia,2.6%,39.952584,-75.165222,1553165,5,Pennsylvania,17426.0,Chicago,IL,...,249870.34900,257236.74890,278134.8084,289146.8459,283806.1660,223904.30090,41.8375,-87.6866,8595181.0,4576.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Weslaco,28.8%,26.159519,-97.990837,37093,996,Texas,54897.0,Utica,MI,...,192098.40020,196658.39890,222011.5246,241096.1298,246156.9573,147514.58930,43.0962,-75.2261,112948.0,1385.0
996,Keizer,14.4%,44.990119,-123.026208,37064,997,Oregon,32409.0,Lakeville,MN,...,358235.45990,377103.08710,426812.5189,473452.2602,468434.5607,312395.62310,44.6774,-93.2520,69026.0,693.6
997,Spanish Fork,78.1%,40.114955,-111.654923,36956,998,Utah,397839.0,Lakeville,MA,...,403028.84910,426837.05870,494392.1308,545870.6244,559337.2701,354616.51380,44.6774,-93.2520,69026.0,693.6
998,Beloit,2.9%,42.508348,-89.031776,36888,999,Wisconsin,17718.0,Daytona Beach,FL,...,161560.12810,172183.82840,198201.4963,249258.1648,261503.3045,137339.72970,29.1995,-81.0982,71041.0,404.5
999,Panama City,0.1%,30.158813,-85.660206,36877,1000,Florida,217168.0,Wilkes-Barre,PA,...,82970.89583,91516.24847,109516.5823,126304.7098,132897.2565,83742.17984,41.2469,-75.8760,44086.0,2300.6

In [12]:
result.dtypes

city                         object
growth_from_2000_to_2013     object
latitude                    float64
longitude                   float64
population                    int64
rank                          int64
state                        object
ID                          float64
city                         object
state                        object
Ave_Price_2000              float64
Ave_Price_2001              float64
Ave_Price_2002              float64
Ave_Price_2003              float64
Ave_Price_2004              float64
Ave_Price_2005              float64
Ave_Price_2006              float64
Ave_Price_2007              float64
Ave_Price_2008              float64
Ave_Price_2009              float64
Ave_Price_2010              float64
Ave_Price_2011              float64
Ave_Price_2012              float64
Ave_Price_2013              float64
Ave_Price_2014              float64
Ave_Price_2015              float64
Ave_Price_2016              float64
Ave_Price_2017              float64
Ave_Price_2018              float64
Ave_Price_2019              float64
Ave_Price_2020              float64
Ave_Price_2021              float64
Ave_Price_2022              float64
Ave_Price_2023              float64
Total_Ave_Price             float64
lat                         float64
lng                         float64
population                  float64
density                     float64
dtype: object

In [64]:
result=result.iloc[:,2:34]

In [24]:
usc_lat_long.to_csv("output/USCities_lat_long.csv", index=False)

NameError: name 'usc_lat_long' is not defined

In [65]:
result

,latitude,longitude,population,rank,state,ID,city,state,Ave_Price_2000,Ave_Price_2001,...,Ave_Price_2014,Ave_Price_2015,Ave_Price_2016,Ave_Price_2017,Ave_Price_2018,Ave_Price_2019,Ave_Price_2020,Ave_Price_2021,Ave_Price_2022,Ave_Price_2023
0,40.712784,-74.005941,8405837,1,New York,6181.0,New York,NY,246019.98070,278408.77880,...,497468.84220,531383.03020,574357.23430,621697.0661,669250.45430,694857.74930,702979.83580,727060.2273,769957.5207,739600.3703
1,34.052234,-118.243685,3884307,2,California,12447.0,Los Angeles,CA,229986.96360,253372.55100,...,485391.84010,513805.12870,534704.82700,582018.9253,659425.48990,687676.78400,730268.66860,834153.1659,928229.4464,898829.6236
2,41.878114,-87.629798,2718782,3,Illinois,39051.0,Houston,TX,101601.65320,103607.47290,...,135469.12770,151680.00720,162753.09500,170737.2806,179059.23160,188491.10100,196896.16150,221789.6804,258327.3999,263100.6766
3,29.760427,-95.369803,2195914,4,Texas,55829.0,Houston,OH,105659.21290,111731.43790,...,139985.55830,146004.48300,150480.11830,156998.0352,165068.55540,172399.19870,182078.13270,210624.0960,230619.1986,238112.3572
4,39.952584,-75.165222,1553165,5,Pennsylvania,17426.0,Chicago,IL,148491.30120,165693.52190,...,199930.57910,212535.74330,225239.87460,236222.6000,247620.89620,249870.34900,257236.74890,278134.8084,289146.8459,283806.1660
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,26.159519,-97.990837,37093,996,Texas,54897.0,Utica,MI,116990.34830,125277.12520,...,131417.70580,141243.81310,154948.06260,167034.5745,180358.22150,192098.40020,196658.39890,222011.5246,241096.1298,246156.9573
996,44.990119,-123.026208,37064,997,Oregon,32409.0,Lakeville,MN,209119.21730,234416.24120,...,282047.82290,294661.01560,310656.96580,328978.3234,345258.82800,358235.45990,377103.08710,426812.5189,473452.2602,468434.5607
997,40.114955,-111.654923,36956,998,Utah,397839.0,Lakeville,MA,199420.52410,228325.98490,...,306630.82250,319515.99380,344399.93350,369123.0022,389779.55390,403028.84910,426837.05870,494392.1308,545870.6244,559337.2701
998,42.508348,-89.031776,36888,999,Wisconsin,17718.0,Daytona Beach,FL,80091.35025,85040.06527,...,101504.78390,110475.94960,122600.39630,136001.4063,150674.33820,161560.12810,172183.82840,198201.4963,249258.1648,261503.3045
999,30.158813,-85.660206,36877,1000,Florida,217168.0,Wilkes-Barre,PA,69974.17892,70648.08485,...,69476.88628,69245.32883,71310.34011,70516.1468,80223.50697,82970.89583,91516.24847,109516.5823,126304.7098,132897.2565

In [14]:
result=result.drop(columns=["growth_from_2000_to_2013","lat","lng","population","density"])

In [66]:
result.head(10)

,latitude,longitude,population,rank,state,ID,city,state,Ave_Price_2000,Ave_Price_2001,...,Ave_Price_2014,Ave_Price_2015,Ave_Price_2016,Ave_Price_2017,Ave_Price_2018,Ave_Price_2019,Ave_Price_2020,Ave_Price_2021,Ave_Price_2022,Ave_Price_2023
0,40.712784,-74.005941,8405837,1,New York,6181.0,New York,NY,246019.98070,278408.77880,...,497468.8422,531383.0302,574357.2343,621697.0661,669250.4543,694857.7493,702979.8358,727060.2273,769957.5207,739600.3703
1,34.052234,-118.243685,3884307,2,California,12447.0,Los Angeles,CA,229986.96360,253372.55100,...,485391.8401,513805.1287,534704.8270,582018.9253,659425.4899,687676.7840,730268.6686,834153.1659,928229.4464,898829.6236
2,41.878114,-87.629798,2718782,3,Illinois,39051.0,Houston,TX,101601.65320,103607.47290,...,135469.1277,151680.0072,162753.0950,170737.2806,179059.2316,188491.1010,196896.1615,221789.6804,258327.3999,263100.6766
3,29.760427,-95.369803,2195914,4,Texas,55829.0,Houston,OH,105659.21290,111731.43790,...,139985.5583,146004.4830,150480.1183,156998.0352,165068.5554,172399.1987,182078.1327,210624.0960,230619.1986,238112.3572
4,39.952584,-75.165222,1553165,5,Pennsylvania,17426.0,Chicago,IL,148491.30120,165693.52190,...,199930.5791,212535.7433,225239.8746,236222.6000,247620.8962,249870.3490,257236.7489,278134.8084,289146.8459,283806.1660
5,33.448377,-112.074037,1513367,6,Arizona,6915.0,San Antonio,TX,97249.51693,95678.81912,...,132545.7837,143665.3528,155435.5907,166731.0637,177616.8487,185617.6096,196493.4023,223877.3487,261000.0641,263495.9283
6,29.424122,-98.493628,1409019,7,Texas,26942.0,San Antonio,FL,100741.76020,107413.89250,...,167894.6215,177162.4143,191760.7319,209067.0081,222850.5015,237611.8310,254763.2894,301197.1668,371717.7283,379445.5292
7,32.715738,-117.161084,1355896,8,California,13271.0,Philadelphia,PA,64295.64409,68273.21201,...,117992.2095,123382.9484,132994.2784,147517.8786,162353.9222,176554.9984,192430.1161,211969.0809,222975.3008,218586.8817
8,32.776664,-96.796988,1257676,9,Texas,50479.0,Philadelphia,TN,76729.11084,83260.80896,...,120404.9653,129465.2216,139437.0624,147094.6662,156181.4433,175223.7100,188401.2833,211728.6670,245003.3778,246831.9783
9,37.338208,-121.886329,998537,10,California,18959.0,Las Vegas,NV,154696.78140,163851.82600,...,182280.0792,195722.3618,209602.4372,230956.0812,266850.7117,286860.5416,295583.1981,341046.1297,416888.0402,398176.3414

In [71]:
file_10="../Project-3-Group-4/output/USCities_3.csv"

In [72]:
df_10=pd.read_csv(file_10)

In [73]:
df_10.head()

,latitude,longitude,population,rank,State,ID,city,state,Ave_Price_2000,Ave_Price_2023,change
0,40.712784,-74.005941,8405837,1,New York,6181,New York,NY,246019.9807,739600.3703,2.006261
1,34.052234,-118.243685,3884307,2,California,12447,Los Angeles,CA,229986.9636,898829.6236,2.908176
2,41.878114,-87.629798,2718782,3,Illinois,39051,Houston,TX,101601.6532,263100.6766,1.589531
3,29.760427,-95.369803,2195914,4,Texas,55829,Houston,OH,105659.2129,238112.3572,1.253588
4,39.952584,-75.165222,1553165,5,Pennsylvania,17426,Chicago,IL,148491.3012,283806.1660,0.911265

In [76]:
array=[]

In [77]:

  
# Iterate over each row
for index, rows in df_10.iterrows():
    # Create list for the current row
    my_list =[rows.latitude, rows.longitude, rows.change]
      
    # append the list to the final list
    array.append(my_list)
  
# Print the list
print(array)

[[40.7127837, -74.0059413, 2.006261395], [34.0522342, -118.2436849, 2.908176401], [41.8781136, -87.6297982, 1.589531453], [29.7604267, -95.3698028, 1.253588217], [39.9525839, -75.1652215, 0.911264591], [33.4483771, -112.0740373, 1.709483159], [29.4241219, -98.4936282, 2.76651677], [32.715738, -117.1610838, 2.39971525], [32.7766642, -96.7969879, 2.21692739], [37.3382082, -121.8863286, 1.57391484], [30.267153, -97.7430608, 2.896005628], [39.768403, -86.158068, 2.235693752], [30.3321838, -81.655651, 2.154661784], [37.7749295, -122.4194155, 1.924262294], [39.9611755, -82.9987942, 1.401614505], [35.2270869, -80.8431267, 0.766500357], [32.7554883, -97.3307658, 2.519544637], [42.331427, -83.0457538, 2.10699081], [31.7775757, -106.4424559, 0.860175361], [35.1495343, -90.0489801, 2.318651915], [47.6062095, -122.3320708, 1.563113882], [39.7392358, -104.990251, 2.420613648], [38.9071923, -77.0368707, 2.365190558], [42.3600825, -71.0588801, 2.008182814], [36.1626638, -86.7816016, 2.309399975], [39.2903848, -76.6121893, 1.862878647], [35.4675602, -97.5164276, 1.814293093], [38.2526647, -85.7584557, 1.396751476], [45.5230622, -122.6764816, 0.482717869], [36.1699412, -115.1398296, 1.363625654], [43.0389025, -87.9064736, 2.97350026], [35.0853336, -106.6055534, 1.615227627], [32.2217429, -110.926479, 1.137128373], [36.7468422, -119.7725868, 1.17769146], [38.5815719, -121.4943996, 2.373088109], [33.7700504, -118.1937395, 0.833052659], [39.0997265, -94.5785667, 2.292184888], [33.4151843, -111.8314724, 0.719253861], [36.8529263, -75.977985, 1.180599682], [33.7489954, -84.3879824, 1.425670811], [38.8338816, -104.8213634, 1.994595345], [41.2523634, -95.9979883, 2.073672119], [35.7795897, -78.6381787, 2.113355193], [25.7616798, -80.1917902, 2.656390022], [37.8043637, -122.2711137, 2.027860527], [44.977753, -93.2650108, 1.214391945], [36.1539816, -95.992775, 2.140813043], [41.49932, -81.6943605, 1.320448182], [37.688889, -97.336111, 1.332533373], [32.735687, -97.1080656, 2.675542839], [29.9510658, -90.0715323, 1.005453778], [35.3732921, -119.0187125, 0.854221362], [27.950575, -82.4571776, 1.644826847], [21.3069444, -157.8583333, 1.298091439], [39.7294319, -104.8319195, 1.226758143], [33.8352932, -117.9145036, 1.345626291], [33.7455731, -117.8678338, 2.174102696], [38.6270025, -90.1994042, 1.635986017], [33.9533487, -117.3961564, 2.672205556], [27.8005828, -97.396381, 2.264553421], [38.0405837, -84.5037164, 0.336272534], [40.4406248, -79.9958864, 1.172187785], [61.2180556, -149.9002778, 1.831977377], [37.9577016, -121.2907796, 0.887863464], [39.1031182, -84.5120196, 0.802298957], [44.9537029, -93.0899578, 2.516756645], [41.6639383, -83.555212, 1.5216176], [36.0726354, -79.7919754, 1.768271767], [40.735657, -74.1723667, 1.365963745], [33.0198431, -96.6988856, 1.321399322], [36.0395247, -114.9817213, 1.769886397], [40.8257625, -96.6851982, 1.411363631], [42.8864468, -78.8783689, 2.36372319], [40.7281575, -74.0776417, 1.711255138], [32.6400541, -117.0841955, 1.520894552], [41.079273, -85.1393513, 1.454517901], [28.5383355, -81.3792365, 2.133465838], [27.773056, -82.64, 2.071591533], [33.3061605, -111.8412502, 1.753406074], [27.5305671, -99.4803241, 1.78385866], [36.8507689, -76.2858726, 1.140605692], [35.9940329, -78.898619, 1.26920101], [43.0730517, -89.4012302, 1.608047367], [33.5778631, -101.8551665, 1.066142224], [33.6839473, -117.7946942, 2.93610117], [36.0998596, -80.244216, 1.868374709], [33.5386523, -112.1859866, 2.322223533], [32.912624, -96.6388833, 3.021509017], [25.8575963, -80.2781057, 2.652370878], [39.5296329, -119.8138027, 0.618805497], [36.7682088, -76.2874927, 1.373269427], [33.3528264, -111.789027, 1.691276879], [30.4582829, -91.1403196, 1.455182183], [32.8140177, -96.9488945, 2.112990642], [33.4941704, -111.9260519, 2.885419613], [36.1988592, -115.1175013, 2.164007992], [37.5482697, -121.9885719, 1.187019543], [43.6187102, -116.2146068, 0.87173756], [37.5407246, -77.4360481, 1.228297851], [34.1083449, -117.2897652, 1.652839325], [33.5206608, -86.80249, 1.932792071], [47.6587802, -117.4260466, 1.110561557], [43.16103, -77.6109219, 2.073949377], [41.6005448, -93.6091064, 2.2894776], [37.6390972, -120.9968782, 1.367744364], [35.0526641, -78.8783585, 1.998349685], [47.2528768, -122.4442906, 1.860399792], [34.1975048, -119.1770516, 1.918652541], [34.0922335, -117.435048, 2.490133347], [32.4609764, -84.9877094, 2.13927573], [32.3668052, -86.2999689, 1.852305616], [33.9424658, -117.2296717, 1.105806695], [32.5251516, -93.7501789, 0.71840834], [41.7605849, -88.3200715, 2.329258489], [40.9312099, -73.8987469, 0.270268269], [41.0814447, -81.5190053, 1.609112115], [33.660297, -117.9992265, 1.914669822], [34.7464809, -92.2895948, 1.72103194], [33.4734978, -82.0105148, 1.274766323], [35.2219971, -101.8312969, 1.259465888], [34.1425078, -118.255075, 1.512269139], [30.6953657, -88.0398912, 2.75795571], [42.9633599, -85.6680863, 0.941739359], [40.7607793, -111.8910474, 0.711671822], [30.4382559, -84.2807329, 2.716306972], [34.7303688, -86.5861037, 1.927643276], [32.7459645, -96.9977846, 2.342117688], [35.9606384, -83.9207392, 2.369812145], [42.2625932, -71.8022934, 0.652881072], [37.0870821, -76.4730122, 1.630618718], [25.9017472, -97.4974838, 0.817551706], [38.9822282, -94.6707917, 1.057683988], [34.3916641, -118.542586, 1.839258279], [41.8239891, -71.4128343, 0.625251725], [33.7739053, -117.9414477, 1.174131987], [35.0456297, -85.3096801, 1.150225386], [33.1958696, -117.3794834, 1.313580187], [32.2987573, -90.1848103, 1.724363183], [26.1224386, -80.1373174, 1.550337557], [38.440429, -122.7140548, 1.570563067], [34.1063989, -117.5931084, 1.266420961], [27.2730492, -80.3582261, 0.664686369], [33.4255104, -111.9400054, 0.622934205], [34.0633443, -117.6508876, 2.055257469], [45.6387281, -122.6614861, 1.512921623], [26.5628537, -81.9495331, 1.557390937], [43.5445959, -96.7311034, 0.905184121], [37.2089572, -93.2922989, 1.288965959], [33.5805955, -112.2373779, 1.558202878], [26.007765, -80.2962555, 0.998075974], [38.4087993, -121.3716178, 3.209497733], [44.9428975, -123.0350963, 1.746506202], [34.6867846, -118.1541632, 1.540720696], [33.8752935, -117.5664384, 2.091032604], [44.0520691, -123.0867536, 1.802428963], [34.5794343, -118.1164613, 2.396492867], [36.6777372, -121.6555013, 1.532636369], [42.1014831, -72.589811, 1.20497979], [29.6910625, -95.2091006, 1.184628353], [40.5852602, -105.084423, 2.793939315], [37.6688205, -122.0807964, 1.786194655], [34.055103, -117.7499909, 2.005213489], [35.79154, -78.7811169, 3.507000605], [42.2711311, -89.0939952, 1.198658747], [38.8048355, -77.0469214, 1.855548723], [33.1192068, -117.086421, 1.89309582], [33.1972465, -96.6397822, 2.573483803], [39.114053, -94.6274636, 1.883130664], [41.525031, -88.0817251, 1.830421942], [37.36883, -122.0363496, 0.272178124], [33.8358492, -118.3406288, 3.746222913], [41.1865478, -73.1951767, 0.892718822], [39.7047095, -105.0813734, 1.331231246], [26.0112014, -80.1494901, 1.64953094], [40.9167654, -74.171811, 2.031538531], [41.7508391, -88.1535352, 1.389891535], [43.0481221, -76.1474244, 1.474364382], [32.7667955, -96.5991593, 2.466024937], [39.7589478, -84.1916069, 2.295408839], [32.0835407, -81.0998342, 1.270400672], [36.5297706, -87.3594528, 2.156563973], [33.7877944, -117.8531119, 0.609096534], [34.1477849, -118.1445155, 2.343364301], [33.8703596, -117.9242966, 0.981787582], [31.1171194, -97.7277959, 1.836162432], [33.1506744, -96.8236116, 2.085746246], [37.0298687, -76.3452218, 3.241649339], [26.2034071, -98.2300124, 1.589606426], [42.5144566, -83.0146526, 1.244554225], [47.610377, -122.2006786, 1.703993518], [40.6916132, -112.0010501, 0.739011329], [34.0007104, -81.0348144, 1.612164937], [38.8813958, -94.8191285, 3.000415148], [42.5803122, -83.0302033, 1.652023184], [41.308274, -72.9278835, 3.520294468], [25.9860762, -80.3035602, 2.040198246], [31.549333, -97.1466695, 0.912103035], [34.1705609, -118.8375937, 2.259986139], [41.9778795, -91.6656232, 3.01990804], [32.7764749, -79.9310512, 1.198721896], [36.3302284, -119.2920585, 1.368344051], [39.0558235, -95.6890185, 0.973116084], [40.6639916, -74.2107006, 2.822064961], [29.6516344, -82.3248262, 1.570548218], [39.8680412, -104.9719243, 1.569538391], [38.7521235, -121.2880059, 2.442100716], [32.9756415, -96.8899636, 1.125416428], [26.271192, -80.2706044, 1.840932157], [41.0534302, -73.5387341, 1.422584219], [34.2694474, -118.781482, 1.620023789], [37.9779776, -122.0310733, 1.625190403], [41.7637111, -72.6850932, 1.373631544], [47.3809335, -122.2348431, 3.018893791], [30.2240897, -92.0198427, 2.405357597], [31.9973456, -102.0779146, 1.098353106], [33.6292337, -112.3679279, 2.148300729], [33.2148412, -97.1330683, 1.846534092], [34.5362184, -117.2927641, 1.42691574], [37.9715592, -87.5710898, 1.647075701], [37.3541079, -121.9552356, 1.546459893], [32.4487364, -99.7331439, 2.153861017], [33.9519347, -83.357567, 2.602538877], [38.1040864, -122.2566367, 0.582062829], [40.6084305, -75.4901833, 1.809621285], [35.2225668, -97.4394777, 2.775348637], [30.080174, -94.1265562, 1.48699722], [39.0911161, -94.4155068, 1.29872126], [35.8456213, -86.39027, 1.928119273], [42.2808256, -83.7430378, 2.930095304], [39.7817213, -89.6501481, 1.596965816], [37.8715926, -122.272747, 2.538047082], [40.6936488, -89.5889864, 1.855575078], [40.2338438, -111.6585337, 0.950947661], [34.0686206, -118.0275667, 2.490281476], [38.9517053, -92.3340724, 0.927031396], [42.732535, -84.5555347, 1.735434634], [46.8771863, -96.7898034, 1.597639293], [33.9401088, -118.1331593, 1.730686858], [33.6411316, -117.9186689, 2.811013569], [34.2257255, -77.9447102, 1.908972078], [39.8027644, -105.0874842, 1.793264749], [33.9616801, -118.3531311, 0.805607642], [25.9420377, -80.2456045, 2.243757348], [33.1580933, -117.3505939, 1.443038612], [39.8366528, -105.0372046, 1.955417865], [44.0121221, -92.4801989, 1.789090117], [31.8456816, -102.3676431, 2.133045541], [42.9956397, -71.4547891, 1.715375602], [42.0354084, -88.2825668, 0.570628403], [40.6096698, -111.9391031, 1.41441566], [30.5082551, -97.678896, 1.61985444], [27.9658533, -82.8001026, 1.940476778], [41.5581525, -73.0514965, 2.428086767], [45.5001357, -122.4302013, 1.240917312], [38.2493581, -122.0399663, 1.985561286], [45.7832856, -108.5006904, 1.591655623], [42.6334247, -71.3161718, 1.514031189], [34.274646, -119.2290316, 1.119266292], [38.2544472, -104.6091409, 1.559464544], [35.9556923, -80.0053176, 3.740174011], [34.0686208, -117.9389526, 1.631266866], [37.9357576, -122.3477486, 1.906612264], [33.5539143, -117.2139232, 0.556256261], [42.3736158, -71.1097335, 1.411035612], [38.0049214, -121.805789, 0.88090669], [33.4936391, -117.1483648, 0.978658694], [33.9022367, -118.081733, 2.050039895], [39.5807452, -104.8771726, 2.242998928], [47.9789848, -122.2020794, 1.579828694], [28.0344621, -80.5886646, 2.077399117], [33.9137085, -98.4933873, 0.78595076], [44.519159, -88.019826, 1.424380034], [37.6879241, -122.4702079, 2.475237418], [34.1808392, -118.3089661, 2.92758666], [32.9483335, -96.7298519, 1.717091685], [26.2378597, -80.1247667, 0.747135176], [32.8546197, -79.9748103, 0.792546154], [36.060949, -95.7974526, 1.16885692], [40.0149856, -105.2705456, 2.56318672], [26.7153424, -80.0533746, 1.488427183], [34.9530337, -120.4357191, 1.608140417], [32.7947731, -116.9625269, 0.533461826], [41.5236437, -90.5776367, 1.721045248], [34.1064001, -117.3703235, 3.047436257], [32.3199396, -106.7636538, 1.07425825], [37.5629917, -122.3255254, 1.725125916], [33.046233, -96.994174, 0.977658369], [41.6763545, -86.2519898, 2.420489136], [28.0394654, -81.9498042, 2.039743071], [42.1292241, -80.085059, 3.021597827], [32.3512601, -95.3010624, 1.848655465], [29.5635666, -95.2860474, 1.876654227], [30.627977, -96.3344068, 2.156356528], [42.5847425, -87.8211854, 2.114845778], [33.9304352, -84.3733147, 1.932217556], [36.8252277, -119.7029194, 1.762637989], [43.0125274, -83.6874562, 1.746838126], [37.2709704, -79.9414266, 1.690715653], [42.6525793, -73.7562317, 1.653833535], [33.9971974, -117.4854802, 1.150647974], [33.8958492, -118.2200712, 2.991389011], [31.4637723, -100.4370375, 1.13238485], [45.5228939, -122.989827, 2.630802419], [34.6035669, -98.3959291, 1.666493875], [47.4828776, -122.2170661, 1.270056206], [33.2000368, -117.2425355, 2.22866347], [26.0764783, -80.2521157, 2.564371492], [40.4233142, -104.7091322, 4.262358216], [33.6000232, -117.6719953, 2.422134249], [36.8354258, -76.2982742, 1.972757717], [42.3222599, -83.1763145, 2.140262834], [33.954737, -118.2120161, 1.880955171], [33.2098407, -87.5691735, 0.901667023], [42.36837, -83.3527097, 0.949445653], [41.6362152, -70.934205, 1.320021063], [38.3565773, -121.9877444, 1.57658645], [42.0834335, -71.0183787, 1.815066455], [34.0232431, -84.3615555, 1.646207411], [45.487062, -122.8037102, 2.221223243], [42.2528772, -71.0022705, 2.406963575], [39.5349112, -119.7526886, 0.640297226], [46.6020711, -120.5058987, 1.607535568], [38.9108408, -94.3821724, 2.702591617], [47.3223221, -122.3126222, 1.907788438], [33.8316745, -118.281693, 1.309522035], [34.0194543, -118.4911912, 2.616226642], [34.4263886, -117.3008784, 2.223432937], [33.1031744, -96.6705503, 1.233107814], [35.2327544, -106.6630437, 2.786893668], [32.6926512, -114.6276916, 1.902924162], [33.7513419, -117.9939921, 2.863878923], [40.2968979, -111.6946475, 1.831244763], [42.466763, -70.9494938, 2.898233401], [40.5865396, -122.3916754, 1.5313903], [47.6732281, -117.2393748, 0.553475318], [25.790654, -80.1300455, 3.375336574], [29.5074538, -95.0949303, 0.611285529], [38.9716689, -95.2352501, 1.665652848], [34.4208305, -119.6981901, 2.816043737], [26.1275862, -80.2331036, 2.241897973], [40.5649781, -111.8389726, 0.989362341], [26.1669711, -80.256595, 1.246338084], [32.8406946, -83.6324022, 2.354427232], [40.1672068, -105.1019275, 1.254644186], [26.3683064, -80.1289321, 1.565630332], [33.1433723, -117.1661449, 1.527991621], [35.612661, -77.3663538, 0.939573359], [42.3636331, -87.8447938, 1.690509732], [41.7014912, -71.1550451, 1.149938797], [39.7284944, -121.8374777, 0.710158653], [42.3370413, -71.2092214, 2.261869203], [37.7249296, -122.1560768, 3.233351826], [40.3356483, -75.9268747, 2.514826043], [41.117744, -73.4081575, 1.010167602], [35.3859242, -94.3985475, 1.848615323], [33.6189101, -117.9289469, 1.675371236], [35.5950581, -82.5514869, 3.136794163], [42.7653662, -71.467566, 2.552984294], [35.6528323, -97.4780954, 2.311489614], [33.9791793, -118.032844, 2.546087035], [43.5407172, -116.5634624, 1.637574449], [44.840798, -93.2982799, 2.222159408], [28.9005446, -81.2636738, 1.26134293], [33.9164032, -118.3525748, 2.068116876], [46.7866719, -92.1004852, 2.552830108], [39.978371, -86.1180435, 1.234250668], [36.7282054, -76.5835621, 1.191190068], [40.8584328, -74.1637553, 0.927557151], [38.7071247, -121.2810611, 2.065999324], [37.6818745, -121.7680088, 1.869774741], [37.7396513, -121.4252227, 2.092762396], [34.095287, -118.1270146, 1.736341833], [47.6814875, -122.2087353, 0.941413061], [40.2170534, -74.7429384, 3.143984334], [41.223, -111.9738304, 1.118924221], [33.4053867, -86.8113781, 2.120706988], [41.8455877, -87.7539448, 2.782491394], [39.9567548, -86.01335, 2.612287641], [29.6196787, -95.6349463, 1.358829073], [41.394817, -73.4540111, 1.686501638], [43.6121087, -116.3915131, 1.978683698], [33.7205771, -116.2155619, 1.513948597], [35.4087517, -80.579511, 0.764118221], [33.6971468, -117.185294, 1.74441566], [40.1164204, -88.2433829, 2.035632822], [33.8675143, -117.9981181, 2.574917383], [42.6064095, -83.1497751, 1.260100458], [38.8106075, -90.6998477, 2.990706439], [34.0289259, -84.198579, 1.645201377], [48.74908, -122.4781473, 1.937247438], [42.324204, -83.400211, 2.29998061], [39.165325, -86.5263857, 1.099962436], [42.4999942, -96.4003069, 1.977523044], [41.7001009, -71.4161671, 2.013423559], [33.7475203, -116.9719684, 1.425902807], [32.5007037, -94.7404891, 1.795153222], [42.4989936, -83.3677168, 0.797139227], [44.0581728, -121.3153096, 2.219872512], [33.8536269, -118.1339563, 1.178748705], [37.3021632, -120.4829677, 1.279305473], [26.2159066, -98.3252932, 2.117965806], [34.0122346, -117.688944, 0.917166552], [37.4852152, -122.2363548, 2.176363888], [26.3017374, -98.1633432, 0.326776179], [41.7798226, -71.4372796, 3.468317169], [41.4047742, -81.7229086, 1.503329486], [40.9114882, -73.7823549, 1.886302533], [33.6469661, -117.689218, 3.193990137], [38.2975381, -122.286865, 1.56274113], [41.5833688, -87.5000412, 1.736201561], [36.0625795, -94.1574263, 1.016588332], [40.4842027, -88.9936873, 1.260166941], [33.4355977, -112.3496021, 1.541738988], [42.3875968, -71.0994968, 2.42826733], [29.5844524, -81.2078699, 2.7365683], [30.6743643, -96.3699632, 2.510642907], [41.5933696, -87.3464271, 3.080039225], [27.9094665, -82.7873244, 1.267229507], [45.0941315, -93.3563405, 0.799567629], [33.7458511, -117.826166, 1.372754441], [42.7261309, -87.7828523, 2.133952404], [26.3184123, -80.0997657, 1.877560569], [37.4137536, -79.1422464, 2.927499466], [37.3860517, -122.0838511, 1.742253515], [42.3265152, -122.8755949, 1.792319436], [42.7070354, -71.1631137, 1.850268405], [33.8816818, -118.1170117, 1.133347903], [28.0836269, -80.6081089, 1.984289277], [39.7674578, -94.846681, 2.295378407], [39.9259463, -75.1196199, 1.686994941], [37.0965278, -113.5684164, 0.757555204], [46.2112458, -119.1372338, 2.678760921], [34.0852868, -117.9608978, 2.40292195], [33.9898188, -117.7325848, 2.772281841], [37.7652065, -122.2416355, 2.013779314], [31.5785074, -84.155741, 0.650206676], [42.0883603, -87.9806265, 1.547866144], [41.408969, -75.6624122, 1.973232443], [42.0450722, -87.6876969, 1.382933294], [42.2917069, -85.5872286, 1.97277446], [29.7355047, -94.9774274, 1.042952406], [34.09751, -117.6483876, 2.163878999], [36.1867442, -94.1288141, 0.865269181], [40.6259316, -75.3704579, 2.500940675], [42.0333607, -88.0834059, 0.810467114], [32.8323225, -79.8284258, 0.82357956], [47.3073228, -122.2284532, 1.058044602], [39.8403147, -88.9548001, 1.749456813], [37.7799273, -121.9780153, 1.558832775], [37.6624312, -121.8746789, 1.612712526], [42.9133602, -85.7053085, 2.001109621], [30.2265949, -93.2173758, 1.046913665], [45.0105194, -93.4555093, 0.606178459], [41.6986416, -88.0683955, 2.75074946], [26.1947962, -98.1836216, 1.716105179], [44.2619309, -88.4153847, 2.188311505], [35.262082, -81.1873005, 2.333166977], [38.6779591, -121.1760583, 2.2009158], [42.4733688, -83.2218731, 1.456862616], [42.6583661, -83.1499322, 2.266410894], [41.6612104, -72.7795419, 2.098559592], [33.4353394, -112.3576567, 2.606058512], [40.7989473, -81.378447, 1.637155609], [32.6130007, -83.624201, 1.036394354], [37.5933918, -122.0438298, 0.638032839], [33.7825194, -117.2286478, 0.751698386], [37.7974273, -121.2160526, 1.697240221], [41.6611277, -91.5301683, 2.910569537], [35.8422967, -90.704279, 2.926120943], [39.7390721, -75.5397878, 1.225358521], [33.930293, -118.2114603, 0.962446592], [40.3977612, -105.0749801, 3.800929131], [41.878711, -71.3825558, 0.921247979], [26.5317866, -80.0905465, 1.484888383], [43.0116784, -88.2314813, 1.310542968], [30.3674198, -89.0928155, 2.20668806], [34.5008311, -117.1858759, 0.724705952], [40.8567662, -74.1284764, 0.943197114], [44.0805434, -103.2310149, 2.294601463], [41.0602216, -111.9710529, 2.792830503], [40.4167022, -86.8752869, 1.443168388], [37.4946568, -120.8465941, 2.833770913], [40.1933767, -85.3863599, 1.450018574], [31.0982344, -97.342782, 2.660335604], [29.6185669, -95.5377215, 2.408123477], [34.0555693, -117.1825381, 1.351032872], [35.6869752, -105.937799, 1.104197669], [26.1403635, -80.2133808, 0.684886311], [37.4323341, -121.8995741, 2.940041492], [42.1103041, -88.03424, 1.908421154], [46.8787176, -113.996586, 3.089140709], [34.9248667, -81.0250784, 0.767069294], [34.7540524, -77.4302414, 2.286989293], [35.9250637, -86.8688899, 2.365655016], [35.1982836, -111.651302, 1.816868667], [33.0145673, -97.0969552, 1.611916364], [26.1003654, -80.3997748, 3.650487117], [42.492786, -92.3425775, 2.296315402], [40.6975898, -74.2631635, 2.289429238], [40.9125992, -73.

In [67]:
result.to_csv("output/USCities_3.csv", index=False)

In [ ]:
#merge both data on city column:
USCities_data = USCities_AvePrices.merge(usc_lat_long, how='outer', on='city')
USCities_data

In [ ]:
USCities = USCities_data.drop_duplicates(subset=['ID'])

In [3]:
USCities

NameError: name 'USCities' is not defined

In [ ]:
USCities.to_csv("output/USCities.csv", index=False)

In [ ]:
US_Housing_Properties.columns

In [ ]:
US_Housing_Properties_columns = US_Housing_Properties.drop(columns=['property_url','street_name', 'apartment', 'price_per_unit', 'broker_id', 'year_build', 'total_num_units', 'listing_age',
       'RunDate', 'agency_name', 'agent_name', 'agent_phone',
       'is_owned_by_zillow'])

In [ ]:
US_Housing_Properties_columns

In [ ]:
US_Properties = US_Housing_Properties_columns.dropna()

In [ ]:
US_Properties.dtypes

In [ ]:
US_Properties_type = US_Properties.astype({'bedroom_number': 'int64', 'bathroom_number': 'int64' })

In [ ]:
USProperties_Data = US_Properties_type
USProperties_Data

In [1]:
from pymongo import MongoClient

In [2]:
mongo=MongoClient(port=27017)

mongo.list_all_dbs()

In [3]:
print(mongo.list_database_names())

['AvePrice', 'admin', 'auto', 'classDB', 'config', 'customer', 'epa', 'fruits_db', 'local', 'location', 'met', 'petsitly_marketing', 'travel_db', 'uk_food', 'uscities', 'usproperties']

In [4]:
from pprint import pprint

In [5]:
db1=mongo.uscities

In [6]:
db1.list_collection_names()

['cities']

In [7]:
city=db1.cities

In [8]:
city.count_documents({})

7779

In [9]:
db2=mongo.usproperties

In [10]:
db2.list_collection_names()

['properties']

In [11]:
usproperty=db2.properties

In [12]:
usproperty.count_documents({})

333524

In [13]:
query_1={}

In [14]:
field_1={'_id':0}

In [15]:
result_1=list(usproperty.find(query_1,field_1))

In [16]:
pprint(result_1[1:5])

[{'address': '337 Keku Rd, Petersburg, AK 99833',
  'bathroom_number': 3,
  'bedroom_number': 4,
  'city': 'Petersburg',
  'land_space': 6000.0,
  'land_space_unit': 'sqft',
  'latitude': 56.967194,
  'living_space': 2845.0,
  'longitude': -133.9265,
  'postcode': 99833,
  'price': 220000.0,
  'property_id': 2078168092,
  'property_status': 'FOR_SALE',
  'property_type': 'SINGLE_FAMILY',
  'state': 'AK'},
 {'address': '117 3rd St, Wrangell, AK 99929',
  'bathroom_number': 3,
  'bedroom_number': 3,
  'city': 'Wrangell',
  'land_space': 7492.0,
  'land_space_unit': 'sqft',
  'latitude': 56.474518,
  'living_space': 2478.0,
  'longitude': -132.386,
  'postcode': 99929,
  'price': 589500.0,
  'property_id': 249518113,
  'property_status': 'FOR_SALE',
  'property_type': 'SINGLE_FAMILY',
  'state': 'AK'},
 {'address': '335 Cassiar St, Wrangell, AK 99929',
  'bathroom_number': 3,
  'bedroom_number': 5,
  'city': 'Wrangell',
  'land_space': 10436.0,
  'land_space_unit': 'sqft',
  'latitude': 56.475697,
  'living_space': 2080.0,
  'longitude': -132.38905,
  'postcode': 99929,
  'price': 405000.0,
  'property_id': 249518139,
  'property_status': 'FOR_SALE',
  'property_type': 'SINGLE_FAMILY',
  'state': 'AK'},
 {'address': '10198 Guwakaan St, Juneau, AK 99801',
  'bathroom_number': 3,
  'bedroom_number': 4,
  'city': 'Juneau',
  'land_space': 5538.0,
  'land_space_unit': 'sqft',
  'latitude': 58.458855,
  'living_space': 2016.0,
  'longitude': -134.17915,
  'postcode': 99801,
  'price': 599900.0,
  'property_id': 325548846,
  'property_status': 'FOR_SALE',
  'property_type': 'SINGLE_FAMILY',
  'state': 'AK'}]

In [17]:
query={}
field={'_id':0}

In [18]:
result=list(city.find(query,field))

In [19]:
pprint(result[1])

{'Ave_Price_2000': 101601.65321386728,
 'Ave_Price_2001': 103607.47292096356,
 'Ave_Price_2002': 106747.07713656516,
 'Ave_Price_2003': 110350.50197605502,
 'Ave_Price_2004': 116715.53100140346,
 'Ave_Price_2005': 122166.78818609192,
 'Ave_Price_2006': 124250.87072096439,
 'Ave_Price_2007': 127632.1968353202,
 'Ave_Price_2008': 125895.5904103556,
 'Ave_Price_2009': 121499.89649936288,
 'Ave_Price_2010': 120326.9428639742,
 'Ave_Price_2011': 114381.11218614627,
 'Ave_Price_2012': 112813.51542903192,
 'Ave_Price_2013': 119824.67847894486,
 'Ave_Price_2014': 135469.127726021,
 'Ave_Price_2015': 151680.00717762063,
 'Ave_Price_2016': 162753.0949650406,
 'Ave_Price_2017': 170737.28058658366,
 'Ave_Price_2018': 179059.23160070705,
 'Ave_Price_2019': 188491.1009805921,
 'Ave_Price_2020': 196896.16145363878,
 'Ave_Price_2021': 221789.68041501148,
 'Ave_Price_2022': 258327.3999327746,
 'Ave_Price_2023': 263100.676638853,
 'ID': 39051.0,
 'Total_Ave_Price': 148171.56622232872,
 'city': 'Houston',
 'density': 1394.6,
 'lat': 29.786,
 'lng': -95.3885,
 'population': 5650910.0,
 'state': 'TX'}

In [ ]:
query2={}
field2={'_id':0,'city':1,'state':1,'Ave_Price_2001':1}

In [ ]:
result2=houseprice.find(query2,field2)

In [ ]:
query3={}
field3={'_id':0,'city':1,'state':1,'Ave_Price_2002':1}

In [ ]:
result3=houseprice.find(query3,field3)

In [ ]:
query4={}
field4={'_id':0,'city':1,'state':1,'Ave_Price_2003':1}

In [ ]:
result4=houseprice.find(query4,field4)

In [ ]:
query5={}
field5={'_id':0,'city':1,'state':1,'Ave_Price_2004':1}

In [ ]:
result5=houseprice.find(query5,field5)

In [ ]:
query6={}
field6={'_id':0,'city':1,'state':1,'Ave_Price_2005':1}

In [ ]:
result6=houseprice.find(query6,field6)

In [ ]:
query7={}
field7={'_id':0,'city':1,'state':1,'Ave_Price_2006':1}

In [ ]:
result7=houseprice.find(query7,field7)

In [ ]:
query8={}
field8={'_id':0,'city':1,'state':1,'Ave_Price_2007':1}

In [ ]:
result8=houseprice.find(query8,field8)

In [ ]:
query9={}
field9={'_id':0,'city':1,'state':1,'Ave_Price_2008':1}

In [ ]:
result9=houseprice.find(query9,field9)

In [ ]:
query10={}
field10={'_id':0,'city':1,'state':1,'Ave_Price_2009':1}

In [ ]:
result10=houseprice.find(query10,field10)

In [ ]:
query11={}
field11={'_id':0,'city':1,'state':1,'Ave_Price_2010':1}

In [ ]:
result11=houseprice.find(query11,field11)

In [ ]:
query12={}
field12={'_id':0,'city':1,'state':1,'Ave_Price_2011':1}

In [ ]:
result12=houseprice.find(query12,field12)

In [ ]:
query13={}
field13={'_id':0,'city':1,'state':1,'Ave_Price_2012':1}

In [ ]:
result13=houseprice.find(query13,field13)

In [ ]:
query14={}
field14={'_id':0,'city':1,'state':1,'Ave_Price_2013':1}

In [ ]:
result14=houseprice.find(query14,field14)

In [ ]:
query15={}
field15={'_id':0,'city':1,'state':1,'Ave_Price_2014':1}

In [ ]:
result15=houseprice.find(query15,field15)

In [ ]:
query16={}
field16={'_id':0,'city':1,'state':1,'Ave_Price_2015':1}

In [ ]:
result16=houseprice.find(query16,field16)

In [ ]:
query17={}
field17={'_id':0,'city':1,'state':1,'Ave_Price_2016':1}

In [ ]:
result17=houseprice.find(query17,field17)

In [ ]:
query18={}
field18={'_id':0,'city':1,'state':1,'Ave_Price_2017':1}

In [ ]:
result18=houseprice.find(query18,field18)

In [ ]:
query19={}
field19={'_id':0,'city':1,'state':1,'Ave_Price_2018':1}

In [ ]:
result19=houseprice.find(query19,field19)

In [ ]:
query20={}
field20={'_id':0,'city':1,'state':1,'Ave_Price_2019':1}

In [ ]:
result20=houseprice.find(query20,field20)

In [ ]:
query21={}
field21={'_id':0,'city':1,'state':1,'Ave_Price_2020':1}

In [ ]:
result21=houseprice.find(query21,field21)

In [ ]:
query22={}
field22={'_id':0,'city':1,'state':1,'Ave_Price_2021':1}

In [ ]:
result22=houseprice.find(query22,field22)

In [ ]:
query23={}
field23={'_id':0,'city':1,'state':1,'Ave_Price_2022':1}

In [ ]:
result23=houseprice.find(query23,field23)

In [ ]:
query24={}
field24={'_id':0,'city':1,'state':1,'Ave_Price_2023':1}

In [ ]:
result24=houseprice.find(query24,field24)

In [ ]:
query25={}
field25={'_id':0,'city':1,'state':1,'Total_Ave_Price':1}

In [ ]:
result25=houseprice.find(query25,field25)

In [24]:
from flask import Flask,jsonify

In [ ]:
app=Flask(__name__)

@app.route("/")
def home():
    return jsonify(result1)


if __name__=="__main__":
    app.run('localhost', 5000)

 * Serving Flask app '__main__'
 * Debug mode: off

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://localhost:5000
Press CTRL+C to quit
127.0.0.1 - - [30/Sep/2023 20:04:15] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [30/Sep/2023 20:13:38] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [30/Sep/2023 20:19:54] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [30/Sep/2023 20:20:04] "GET /2001 HTTP/1.1" 404 -
127.0.0.1 - - [30/Sep/2023 20:20:08] "GET /2001 HTTP/1.1" 404 -
127.0.0.1 - - [30/Sep/2023 20:20:34] "GET /2001 HTTP/1.1" 404 -
127.0.0.1 - - [30/Sep/2023 20:20:37] "GET /2001 HTTP/1.1" 404 -
127.0.0.1 - - [30/Sep/2023 20:21:03] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [30/Sep/2023 20:21:16] "GET /2001 HTTP/1.1" 404 -
127.0.0.1 - - [30/Sep/2023 20:21:45] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [30/Sep/2023 20:22:02] "GET /pricelist HTTP/1.1" 404 -
127.0.0.1 - - [30/Sep/2023 20:24:03] "GET /pricelist HTTP/1.1" 404 -
127.0.0.1 - - [30/Sep/2023 20:24:04] "GET /pricelist HTTP/1.1" 404 -
127.0.0.1 - - [30/Sep/2023 20:24:05] "GET /pricelist HTTP/1.1" 404 -
127.0.0.1 - - [30/Sep/2023 20:24:43] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [30/Sep/2023 20:25:13] "GET /pricelist HTTP/1.1" 404 -
127.0.0.1 - - [30/Sep/2023 20:28:23] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [30/Sep/2023 20:28:45] "GET /price2 HTTP/1.1" 404 -
127.0.0.1 - - [30/Sep/2023 20:30:27] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [30/Sep/2023 20:30:35] "GET /price2 HTTP/1.1" 404 -
127.0.0.1 - - [30/Sep/2023 20:32:32] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [30/Sep/2023 20:32:41] "GET /price2 HTTP/1.1" 404 -
127.0.0.1 - - [30/Sep/2023 20:34:00] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [30/Sep/2023 20:34:09] "GET /price2 HTTP/1.1" 404 -
127.0.0.1 - - [30/Sep/2023 20:34:10] "GET /price2 HTTP/1.1" 404 -
127.0.0.1 - - [30/Sep/2023 20:35:07] "GET /price3 HTTP/1.1" 404 -
127.0.0.1 - - [30/Sep/2023 20:35:10] "GET /price3 HTTP/1.1" 404 -
127.0.0.1 - - [30/Sep/2023 20:35:10] "GET /price3 HTTP/1.1" 404 -
127.0.0.1 - - [30/Sep/2023 20:35:10] "GET /price3 HTTP/1.1" 404 -
127.0.0.1 - - [30/Sep/2023 20:35:10] "GET /price3 HTTP/1.1" 404 -
127.0.0.1 - - [30/Sep/2023 20:35:11] "GET /price3 HTTP/1.1" 404 -
127.0.0.1 - - [30/Sep/2023 20:35:11] "GET /price3 HTTP/1.1" 404 -
127.0.0.1 - - [30/Sep/2023 20:35:53] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [30/Sep/2023 20:36:02] "GET /price3/ HTTP/1.1" 404 -
127.0.0.1 - - [30/Sep/2023 20:36:07] "GET /price3/ HTTP/1.1" 404 -