In [1]:
# Import dependencies
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 400)

### Extract the crowdfunding.xlsx Data

In [2]:
uscities_prices = pd.read_csv('data/City_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv')
uscities_prices.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,2000-01-31,2000-02-29,...,2022-11-30,2022-12-31,2023-01-31,2023-02-28,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31
0,6181,0,New York,city,NY,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,233968.364425,235213.501084,...,766549.922037,760967.314059,753542.664914,745253.018176,739029.894122,736507.157206,736317.767302,736593.062315,735714.868318,733844.529816
1,12447,1,Los Angeles,city,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,220520.005437,220853.896732,...,928556.334329,926313.788462,917859.191093,904745.376863,890707.649127,884267.685886,884572.061072,890303.725763,901454.746230,916726.552897
2,39051,2,Houston,city,TX,TX,"Houston-The Woodlands-Sugar Land, TX",Harris County,101098.174825,101072.488436,...,266300.561655,265701.584259,264432.960905,263034.004529,262069.737178,261750.575374,262013.032335,262885.890103,263829.913875,264789.298812
3,17426,3,Chicago,city,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,143296.270440,143334.554887,...,284804.563192,283917.576303,282773.154202,281822.727238,281642.664781,282497.600077,283500.200425,284609.674980,285894.043210,287709.262712
4,6915,4,San Antonio,city,TX,TX,"San Antonio-New Braunfels, TX",Bexar County,98022.284380,98113.286803,...,267037.175611,266566.855432,265922.874306,264832.228651,263627.759314,262597.928534,262365.894507,262678.183858,262902.945177,263039.612010

In [3]:
uscities_prices.columns

Index(['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName',
       'State', 'Metro', 'CountyName', '2000-01-31', '2000-02-29',
       ...
       '2022-11-30', '2022-12-31', '2023-01-31', '2023-02-28', '2023-03-31',
       '2023-04-30', '2023-05-31', '2023-06-30', '2023-07-31', '2023-08-31'],
      dtype='object', length=292)

In [4]:
uscities_lat_long = pd.read_csv('data/uscities-lat-long.csv')
uscities_lat_long.head(5)

,city,city_ascii,state_id,state_name,county_fips,county_name,lat,lng,population,density,source,military,incorporated,timezone,ranking,zips,id
0,New York,New York,NY,New York,36081,Queens,40.6943,-73.9249,18972871,10768.2,shape,False,True,America/New_York,1,11229 11226 11225 11224 11223 11221 11220 11385 10169 10168 10167 10165 10162 10282 10280 10040 10044 11109 11102 11103 11106 11104 11379 11378 11377 11697 11694 11692 11693 11691 10271 10279 10278 10075 10303 10302 10301 11249 10452 11451 10475 10474 10471 10470 10473 10472 11228 11222 10103 11368 11369 11366 11367 11364 11365 11362 11363 11360 11361 10028 10029 10026 10027 10024 10025 10022 ...,1840034016
1,Los Angeles,Los Angeles,CA,California,6037,Los Angeles,34.1141,-118.4068,12121244,3267.6,shape,False,True,America/Los_Angeles,1,90291 90293 90292 91316 91311 90035 90034 90037 90031 90039 90008 90004 90005 90006 90007 90001 90002 90003 91504 90710 90089 91306 91344 91345 91340 91342 91343 90036 90247 90248 91436 91371 91608 91605 91604 91607 91606 91601 91602 90402 90068 90069 90062 90063 90061 90066 90067 90064 90065 91326 91324 91325 90013 90012 90011 90010 90017 90016 90015 90014 90019 90095 90094 91042 91040 91411 ...,1840020491
2,Chicago,Chicago,IL,Illinois,17031,Cook,41.8375,-87.6866,8595181,4576.6,shape,False,True,America/Chicago,1,60018 60649 60641 60640 60643 60642 60645 60644 60647 60646 60616 60617 60614 60615 60612 60613 60610 60611 60618 60619 60827 60661 60660 60638 60639 60634 60636 60637 60630 60631 60632 60633 60605 60604 60607 60606 60601 60603 60602 60609 60608 60106 60659 60652 60653 60656 60657 60654 60655 60651 60623 60622 60621 60620 60626 60625 60624 60629 60628 60707 60499 60664 60666 60668 60669 60670 ...,1840000494
3,Miami,Miami,FL,Florida,12086,Miami-Dade,25.7840,-80.2101,5711945,4945.7,shape,False,True,America/New_York,1,33128 33129 33125 33126 33127 33149 33144 33145 33142 33139 33138 33137 33136 33135 33134 33133 33132 33131 33130 33150 33101 33109 33111 33151 33222 33231 33233 33238 33255 33299,1840015149
4,Dallas,Dallas,TX,Texas,48113,Dallas,32.7935,-96.7667,5668165,1522.2,shape,False,True,America/Chicago,1,75287 75098 75234 75254 75251 75252 75253 75032 75238 75232 75233 75230 75231 75236 75237 75235 75089 75088 75087 75247 75244 75249 75248 75051 75223 75210 75211 75212 75214 75215 75216 75217 75218 75219 75390 75182 75229 75228 75220 75225 75224 75227 75226 75243 75241 75240 75246 75043 75166 75270 75207 75206 75205 75204 75203 75202 75201 75209 75208 75019 75221 75222 75242 75250 75260 75262 ...,1840019440

In [5]:
uscities_lat_long.columns

Index(['city', 'city_ascii', 'state_id', 'state_name', 'county_fips',
       'county_name', 'lat', 'lng', 'population', 'density', 'source',
       'military', 'incorporated', 'timezone', 'ranking', 'zips', 'id'],
      dtype='object')

In [6]:
US_Housing_Properties = pd.read_csv('data/600K US Housing Properties.csv', low_memory=False)
US_Housing_Properties.head()

,property_url,property_id,address,street_name,apartment,city,state,latitude,longitude,postcode,...,property_type,property_status,year_build,total_num_units,listing_age,RunDate,agency_name,agent_name,agent_phone,is_owned_by_zillow
0,https://www.zillow.com/homedetails/3-Plat-83-10-Wrangell-AK-99929/2064212272_zpid/,2064212272,"3 Plat #83-10, Wrangell, AK 99929",Plat #83-10,NaN,Wrangell,AK,NaN,NaN,99929,...,LOT,FOR_SALE,NaN,NaN,-1,2022-04-24 07:34:15,Anchor Properties,NaN,NaN,0
1,https://www.zillow.com/homedetails/117-3rd-St-Wrangell-AK-99929/249518113_zpid/,249518113,"117 3rd St, Wrangell, AK 99929",3rd St,NaN,Wrangell,AK,56.474518,-132.38600,99929,...,SINGLE_FAMILY,FOR_SALE,NaN,NaN,-1,2022-04-24 07:34:15,NaN,NaN,NaN,0
2,https://www.zillow.com/homedetails/LOT-2A-Front-St-Wrangell-AK-99929/2077729913_zpid/,2077729913,"LOT 2A Front St, Wrangell, AK 99929",LOT 2A Front St,NaN,Wrangell,AK,56.471638,-132.38686,99929,...,LOT,FOR_SALE,NaN,NaN,-1,2022-04-24 07:34:15,NaN,NaN,NaN,0
3,https://www.zillow.com/homedetails/LOT-A-Plat-2009-6-Wrangell-AK-99929/2067488502_zpid/,2067488502,"LOT A Plat #2009-6, Wrangell, AK 99929",LOT A Plat #2009-6,NaN,Wrangell,AK,NaN,NaN,99929,...,SINGLE_FAMILY,FOR_SALE,NaN,NaN,-1,2022-04-24 07:34:15,"Petersburg Properties, LLC",NaN,NaN,0
4,https://www.zillow.com/homedetails/335-Cassiar-St-Wrangell-AK-99929/249518139_zpid/,249518139,"335 Cassiar St, Wrangell, AK 99929",Cassiar St,NaN,Wrangell,AK,56.475697,-132.38905,99929,...,SINGLE_FAMILY,FOR_SALE,NaN,NaN,-1,2022-04-24 07:34:15,NaN,NaN,NaN,0

In [7]:
US_Housing_Properties.columns

Index(['property_url', 'property_id', 'address', 'street_name', 'apartment',
       'city', 'state', 'latitude', 'longitude', 'postcode', 'price',
       'bedroom_number', 'bathroom_number', 'price_per_unit', 'living_space',
       'land_space', 'land_space_unit', 'broker_id', 'property_type',
       'property_status', 'year_build', 'total_num_units', 'listing_age',
       'RunDate', 'agency_name', 'agent_name', 'agent_phone',
       'is_owned_by_zillow'],
      dtype='object')

In [8]:
uscities_prices_df = pd.DataFrame(data=uscities_prices)

In [9]:
# Drop unwanted columns
uscities_newcolumns_df = uscities_prices_df.drop(columns=["SizeRank","RegionType","State","Metro","CountyName"])
uscities_newcolumns_df

,RegionID,RegionName,StateName,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,2000-06-30,2000-07-31,...,2022-11-30,2022-12-31,2023-01-31,2023-02-28,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31
0,6181,New York,NY,233968.364425,235213.501084,236488.118768,238940.702785,241430.215332,244106.123004,246944.755968,...,766549.922037,760967.314059,753542.664914,745253.018176,739029.894122,736507.157206,736317.767302,736593.062315,735714.868318,733844.529816
1,12447,Los Angeles,CA,220520.005437,220853.896732,221831.954831,223783.620251,226221.003294,228578.445921,230972.696592,...,928556.334329,926313.788462,917859.191093,904745.376863,890707.649127,884267.685886,884572.061072,890303.725763,901454.746230,916726.552897
2,39051,Houston,TX,101098.174825,101072.488436,100932.626580,100891.286421,100875.892630,101046.058329,101254.556719,...,266300.561655,265701.584259,264432.960905,263034.004529,262069.737178,261750.575374,262013.032335,262885.890103,263829.913875,264789.298812
3,17426,Chicago,IL,143296.270440,143334.554887,143692.831927,144618.102145,145801.865377,147065.465782,148212.438494,...,284804.563192,283917.576303,282773.154202,281822.727238,281642.664781,282497.600077,283500.200425,284609.674980,285894.043210,287709.262712
4,6915,San Antonio,TX,98022.284380,98113.286803,98184.283346,98312.272270,97871.785680,97263.918669,96600.336260,...,267037.175611,266566.855432,265922.874306,264832.228651,263627.759314,262597.928534,262365.894507,262678.183858,262902.945177,263039.612010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21612,39180,Jumpertown,MS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,135710.675551,133260.790306,130688.632627,129029.173444,127805.881657,128580.185684,130352.444222,131331.740583,131146.166704,129569.017676
21613,51728,Dollar Bay,MI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,152531.588076,152612.504680,153706.371678,154018.216245,154837.797504,156011.597857,158551.354243,160391.434671,161053.212873,162083.026531
21614,4769,Fort Howard,MD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,300591.040088,299512.111393,299165.087334,299220.968592,300763.625781,302566.110071,305420.765256,307980.585358,310150.746171,312004.157660
21615,25149,Hoisington,KS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,73718.585312,73134.806122,71889.701377,70776.367869,70433.613456,71099.383718,71942.234457,72715.747723,74081.706904,76059.495806
21616,32723,Martin City,MT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,555315.611665,547763.201710,536884.510156,525862.088277,518179.009635,517635.432506,520387.938222,525493.888431,530088.582155,533229.234254

In [10]:
uscities_renamecolumns_df = uscities_newcolumns_df.rename(columns={"RegionID": "ID","RegionName":"city","StateName":"state"})
uscities_renamecolumns_df

,ID,city,state,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,2000-06-30,2000-07-31,...,2022-11-30,2022-12-31,2023-01-31,2023-02-28,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31
0,6181,New York,NY,233968.364425,235213.501084,236488.118768,238940.702785,241430.215332,244106.123004,246944.755968,...,766549.922037,760967.314059,753542.664914,745253.018176,739029.894122,736507.157206,736317.767302,736593.062315,735714.868318,733844.529816
1,12447,Los Angeles,CA,220520.005437,220853.896732,221831.954831,223783.620251,226221.003294,228578.445921,230972.696592,...,928556.334329,926313.788462,917859.191093,904745.376863,890707.649127,884267.685886,884572.061072,890303.725763,901454.746230,916726.552897
2,39051,Houston,TX,101098.174825,101072.488436,100932.626580,100891.286421,100875.892630,101046.058329,101254.556719,...,266300.561655,265701.584259,264432.960905,263034.004529,262069.737178,261750.575374,262013.032335,262885.890103,263829.913875,264789.298812
3,17426,Chicago,IL,143296.270440,143334.554887,143692.831927,144618.102145,145801.865377,147065.465782,148212.438494,...,284804.563192,283917.576303,282773.154202,281822.727238,281642.664781,282497.600077,283500.200425,284609.674980,285894.043210,287709.262712
4,6915,San Antonio,TX,98022.284380,98113.286803,98184.283346,98312.272270,97871.785680,97263.918669,96600.336260,...,267037.175611,266566.855432,265922.874306,264832.228651,263627.759314,262597.928534,262365.894507,262678.183858,262902.945177,263039.612010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21612,39180,Jumpertown,MS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,135710.675551,133260.790306,130688.632627,129029.173444,127805.881657,128580.185684,130352.444222,131331.740583,131146.166704,129569.017676
21613,51728,Dollar Bay,MI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,152531.588076,152612.504680,153706.371678,154018.216245,154837.797504,156011.597857,158551.354243,160391.434671,161053.212873,162083.026531
21614,4769,Fort Howard,MD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,300591.040088,299512.111393,299165.087334,299220.968592,300763.625781,302566.110071,305420.765256,307980.585358,310150.746171,312004.157660
21615,25149,Hoisington,KS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,73718.585312,73134.806122,71889.701377,70776.367869,70433.613456,71099.383718,71942.234457,72715.747723,74081.706904,76059.495806
21616,32723,Martin City,MT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,555315.611665,547763.201710,536884.510156,525862.088277,518179.009635,517635.432506,520387.938222,525493.888431,530088.582155,533229.234254

In [11]:
#Drop non values
uscities_dropnanvalue_df = uscities_renamecolumns_df.dropna()
uscities_dropnanvalue_df

,ID,city,state,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,2000-06-30,2000-07-31,...,2022-11-30,2022-12-31,2023-01-31,2023-02-28,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31
0,6181,New York,NY,233968.364425,235213.501084,236488.118768,238940.702785,241430.215332,244106.123004,246944.755968,...,766549.922037,760967.314059,753542.664914,745253.018176,739029.894122,736507.157206,736317.767302,736593.062315,735714.868318,733844.529816
1,12447,Los Angeles,CA,220520.005437,220853.896732,221831.954831,223783.620251,226221.003294,228578.445921,230972.696592,...,928556.334329,926313.788462,917859.191093,904745.376863,890707.649127,884267.685886,884572.061072,890303.725763,901454.746230,916726.552897
2,39051,Houston,TX,101098.174825,101072.488436,100932.626580,100891.286421,100875.892630,101046.058329,101254.556719,...,266300.561655,265701.584259,264432.960905,263034.004529,262069.737178,261750.575374,262013.032335,262885.890103,263829.913875,264789.298812
3,17426,Chicago,IL,143296.270440,143334.554887,143692.831927,144618.102145,145801.865377,147065.465782,148212.438494,...,284804.563192,283917.576303,282773.154202,281822.727238,281642.664781,282497.600077,283500.200425,284609.674980,285894.043210,287709.262712
4,6915,San Antonio,TX,98022.284380,98113.286803,98184.283346,98312.272270,97871.785680,97263.918669,96600.336260,...,267037.175611,266566.855432,265922.874306,264832.228651,263627.759314,262597.928534,262365.894507,262678.183858,262902.945177,263039.612010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21570,46631,Mount Charleston,NV,345611.271952,348264.776476,350814.629153,354814.142980,360575.350438,365356.654796,371629.990756,...,560132.144630,553629.539623,545253.686462,537573.447617,530811.252248,528034.357755,529859.075115,534399.192871,537819.676797,540173.365774
21571,255422,Clearview,WV,82531.738290,81807.974214,81340.049523,80739.872659,80858.410029,81818.795283,82881.030946,...,185245.279875,185218.668054,184204.929362,182902.032761,181827.768051,181535.518189,182961.802493,184911.111722,186662.156563,187813.519600
21578,54740,Tribes Hill,NY,59401.994790,59606.785686,59923.188084,60322.100038,60859.338739,61766.430192,62796.574847,...,159826.728312,159368.826120,158390.389134,157003.669681,155629.850217,154814.463169,154890.763846,156042.677003,157949.615939,159535.649607
21581,22166,Haskins,OH,133823.393269,132379.855310,132806.866114,132801.959231,133825.625804,133890.592301,134685.025686,...,247821.225902,247936.809158,248148.968396,249507.356342,251434.501434,253883.643563,256444.387617,259276.532964,261756.141497,263384.428318
21606,9559,Galesville,MD,242781.564430,242775.204647,243224.582462,245264.159900,247500.195435,250430.846452,253179.085301,...,620195.196736,619304.899720,618697.066506,617398.570143,617089.022611,617008.109938,619936.176644,623297.047337,627343.955111,629783.662390

In [12]:
uscities_dropnanvalue_df.dtypes

ID              int64
city           object
state          object
2000-01-31    float64
2000-02-29    float64
               ...
2023-04-30    float64
2023-05-31    float64
2023-06-30    float64
2023-07-31    float64
2023-08-31    float64
Length: 287, dtype: object

In [13]:
uscities_dropnanvalue_df["Ave_Price_2000"] = uscities_dropnanvalue_df.loc[:, ["2000-01-31","2000-02-29","2000-03-31",
                                                     "2000-04-30","2000-05-31","2000-06-30","2000-07-31","2000-08-31",
                                                     "2000-09-30","2000-10-31","2000-11-30","2000-12-31"]].mean(axis = 1)

C:\Users\Fatima\AppData\Local\Temp\ipykernel_15484\4243926159.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uscities_dropnanvalue_df["Ave_Price_2000"] = uscities_dropnanvalue_df.loc[:, ["2000-01-31","2000-02-29","2000-03-31",

In [14]:
uscities_dropnanvalue_df["Ave_Price_2001"] = uscities_dropnanvalue_df.loc[:, ("2001-01-31","2001-02-28","2001-03-31",
                                                     "2001-04-30","2001-05-31","2001-06-30","2001-07-31","2001-08-31",
                                                     "2001-09-30","2001-10-31","2001-11-30","2001-12-31")].mean(axis = 1)

C:\Users\Fatima\AppData\Local\Temp\ipykernel_15484\3208275015.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uscities_dropnanvalue_df["Ave_Price_2001"] = uscities_dropnanvalue_df.loc[:, ("2001-01-31","2001-02-28","2001-03-31",

In [15]:
uscities_dropnanvalue_df["Ave_Price_2002"] = uscities_dropnanvalue_df.loc[:, ("2002-01-31","2002-02-28","2002-03-31",
                                                     "2002-04-30","2002-05-31","2002-06-30","2002-07-31","2002-08-31",
                                                     "2002-09-30","2002-10-31","2002-11-30","2002-12-31")].mean(axis = 1)

C:\Users\Fatima\AppData\Local\Temp\ipykernel_15484\2686308199.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uscities_dropnanvalue_df["Ave_Price_2002"] = uscities_dropnanvalue_df.loc[:, ("2002-01-31","2002-02-28","2002-03-31",

In [16]:
uscities_dropnanvalue_df["Ave_Price_2003"] = uscities_dropnanvalue_df.loc[:, ("2003-01-31","2003-02-28","2003-03-31",
                                                     "2003-04-30","2003-05-31","2003-06-30","2003-07-31","2003-08-31",
                                                     "2003-09-30","2003-10-31","2003-11-30","2003-12-31")].mean(axis = 1)

C:\Users\Fatima\AppData\Local\Temp\ipykernel_15484\267288720.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uscities_dropnanvalue_df["Ave_Price_2003"] = uscities_dropnanvalue_df.loc[:, ("2003-01-31","2003-02-28","2003-03-31",

In [17]:
uscities_dropnanvalue_df["Ave_Price_2004"] = uscities_dropnanvalue_df.loc[:, ("2004-01-31","2004-02-29","2004-03-31",
                                                     "2004-04-30","2004-05-31","2004-06-30","2004-07-31","2004-08-31",
                                                     "2004-09-30","2004-10-31","2004-11-30","2004-12-31")].mean(axis = 1)

C:\Users\Fatima\AppData\Local\Temp\ipykernel_15484\1770510861.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uscities_dropnanvalue_df["Ave_Price_2004"] = uscities_dropnanvalue_df.loc[:, ("2004-01-31","2004-02-29","2004-03-31",

In [18]:
uscities_dropnanvalue_df["Ave_Price_2005"] = uscities_dropnanvalue_df.loc[:, ("2005-01-31","2005-02-28","2005-03-31",
                                                     "2005-04-30","2005-05-31","2005-06-30","2005-07-31","2004-08-31",
                                                     "2005-09-30","2005-10-31","2005-11-30","2005-12-31")].mean(axis = 1)

C:\Users\Fatima\AppData\Local\Temp\ipykernel_15484\2356954836.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uscities_dropnanvalue_df["Ave_Price_2005"] = uscities_dropnanvalue_df.loc[:, ("2005-01-31","2005-02-28","2005-03-31",

In [19]:
uscities_dropnanvalue_df["Ave_Price_2006"] = uscities_dropnanvalue_df.loc[:, ("2006-01-31","2006-02-28","2006-03-31",
                                                     "2006-04-30","2006-05-31","2006-06-30","2006-07-31","2006-08-31",
                                                     "2006-09-30","2006-10-31","2006-11-30","2006-12-31")].mean(axis = 1)

C:\Users\Fatima\AppData\Local\Temp\ipykernel_15484\1216369099.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uscities_dropnanvalue_df["Ave_Price_2006"] = uscities_dropnanvalue_df.loc[:, ("2006-01-31","2006-02-28","2006-03-31",

In [20]:
uscities_dropnanvalue_df["Ave_Price_2007"] = uscities_dropnanvalue_df.loc[:, ("2007-01-31","2007-02-28","2007-03-31",
                                                     "2007-04-30","2007-05-31","2007-06-30","2007-07-31","2007-08-31",
                                                     "2007-09-30","2007-10-31","2007-11-30","2007-12-31")].mean(axis = 1)

C:\Users\Fatima\AppData\Local\Temp\ipykernel_15484\737257778.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uscities_dropnanvalue_df["Ave_Price_2007"] = uscities_dropnanvalue_df.loc[:, ("2007-01-31","2007-02-28","2007-03-31",

In [21]:
uscities_dropnanvalue_df["Ave_Price_2008"] = uscities_dropnanvalue_df.loc[:, ("2008-01-31","2008-02-29","2008-03-31",
                                                     "2008-04-30","2008-05-31","2008-06-30","2008-07-31","2008-08-31",
                                                     "2008-09-30","2008-10-31","2008-11-30","2008-12-31")].mean(axis = 1)

C:\Users\Fatima\AppData\Local\Temp\ipykernel_15484\840925636.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uscities_dropnanvalue_df["Ave_Price_2008"] = uscities_dropnanvalue_df.loc[:, ("2008-01-31","2008-02-29","2008-03-31",

In [22]:
uscities_dropnanvalue_df["Ave_Price_2009"] = uscities_dropnanvalue_df.loc[:, ("2009-01-31","2009-02-28","2009-03-31",
                                                     "2009-04-30","2009-05-31","2009-06-30","2009-07-31","2009-08-31",
                                                     "2009-09-30","2009-10-31","2009-11-30","2009-12-31")].mean(axis = 1)

C:\Users\Fatima\AppData\Local\Temp\ipykernel_15484\2179111545.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uscities_dropnanvalue_df["Ave_Price_2009"] = uscities_dropnanvalue_df.loc[:, ("2009-01-31","2009-02-28","2009-03-31",

In [23]:
uscities_dropnanvalue_df["Ave_Price_2010"] = uscities_dropnanvalue_df.loc[:, ("2010-01-31","2010-02-28","2010-03-31",
                                                     "2010-04-30","2010-05-31","2010-06-30","2010-07-31","2010-08-31",
                                                     "2010-09-30","2010-10-31","2010-11-30","2010-12-31")].mean(axis = 1)

C:\Users\Fatima\AppData\Local\Temp\ipykernel_15484\3039079890.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uscities_dropnanvalue_df["Ave_Price_2010"] = uscities_dropnanvalue_df.loc[:, ("2010-01-31","2010-02-28","2010-03-31",

In [24]:
uscities_dropnanvalue_df["Ave_Price_2011"] = uscities_dropnanvalue_df.loc[:, ("2011-01-31","2011-02-28","2011-03-31",
                                                     "2011-04-30","2011-05-31","2011-06-30","2011-07-31","2011-08-31",
                                                     "2011-09-30","2011-10-31","2011-11-30","2011-12-31")].mean(axis = 1)

C:\Users\Fatima\AppData\Local\Temp\ipykernel_15484\317738570.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uscities_dropnanvalue_df["Ave_Price_2011"] = uscities_dropnanvalue_df.loc[:, ("2011-01-31","2011-02-28","2011-03-31",

In [25]:
uscities_dropnanvalue_df["Ave_Price_2012"] = uscities_dropnanvalue_df.loc[:, ("2012-01-31","2012-02-29","2012-03-31",
                                                     "2012-04-30","2012-05-31","2012-06-30","2012-07-31","2012-08-31",
                                                     "2012-09-30","2012-10-31","2012-11-30","2012-12-31")].mean(axis = 1)

C:\Users\Fatima\AppData\Local\Temp\ipykernel_15484\1536536694.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uscities_dropnanvalue_df["Ave_Price_2012"] = uscities_dropnanvalue_df.loc[:, ("2012-01-31","2012-02-29","2012-03-31",

In [26]:
uscities_dropnanvalue_df["Ave_Price_2013"] = uscities_dropnanvalue_df.loc[:, ("2013-01-31","2013-02-28","2013-03-31",
                                                     "2013-04-30","2013-05-31","2013-06-30","2013-07-31","2013-08-31",
                                                     "2013-09-30","2013-10-31","2013-11-30","2013-12-31")].mean(axis = 1)

C:\Users\Fatima\AppData\Local\Temp\ipykernel_15484\4145049080.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uscities_dropnanvalue_df["Ave_Price_2013"] = uscities_dropnanvalue_df.loc[:, ("2013-01-31","2013-02-28","2013-03-31",

In [27]:
uscities_dropnanvalue_df["Ave_Price_2014"] = uscities_dropnanvalue_df.loc[:, ("2014-01-31","2014-02-28","2014-03-31",
                                                     "2014-04-30","2014-05-31","2014-06-30","2014-07-31","2014-08-31",
                                                     "2014-09-30","2014-10-31","2014-11-30","2014-12-31")].mean(axis = 1)

C:\Users\Fatima\AppData\Local\Temp\ipykernel_15484\1354106964.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uscities_dropnanvalue_df["Ave_Price_2014"] = uscities_dropnanvalue_df.loc[:, ("2014-01-31","2014-02-28","2014-03-31",

In [28]:
uscities_dropnanvalue_df["Ave_Price_2015"] = uscities_dropnanvalue_df.loc[:, ("2015-01-31","2015-02-28","2015-03-31",
                                                     "2015-04-30","2015-05-31","2015-06-30","2015-07-31","2015-08-31",
                                                     "2015-09-30","2015-10-31","2015-11-30","2015-12-31")].mean(axis = 1)

C:\Users\Fatima\AppData\Local\Temp\ipykernel_15484\644994601.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uscities_dropnanvalue_df["Ave_Price_2015"] = uscities_dropnanvalue_df.loc[:, ("2015-01-31","2015-02-28","2015-03-31",

In [29]:
uscities_dropnanvalue_df["Ave_Price_2016"] = uscities_dropnanvalue_df.loc[:, ("2016-01-31","2016-02-29","2016-03-31",
                                                     "2016-04-30","2016-05-31","2016-06-30","2016-07-31","2016-08-31",
                                                     "2016-09-30","2016-10-31","2016-11-30","2016-12-31")].mean(axis = 1)

C:\Users\Fatima\AppData\Local\Temp\ipykernel_15484\3981970150.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uscities_dropnanvalue_df["Ave_Price_2016"] = uscities_dropnanvalue_df.loc[:, ("2016-01-31","2016-02-29","2016-03-31",

In [30]:
uscities_dropnanvalue_df["Ave_Price_2017"] = uscities_dropnanvalue_df.loc[:, ("2017-01-31","2017-02-28","2017-03-31",
                                                     "2017-04-30","2017-05-31","2017-06-30","2017-07-31","2017-08-31",
                                                     "2017-09-30","2017-10-31","2017-11-30","2017-12-31")].mean(axis = 1)

C:\Users\Fatima\AppData\Local\Temp\ipykernel_15484\1353415035.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uscities_dropnanvalue_df["Ave_Price_2017"] = uscities_dropnanvalue_df.loc[:, ("2017-01-31","2017-02-28","2017-03-31",

In [31]:
uscities_dropnanvalue_df["Ave_Price_2018"] = uscities_dropnanvalue_df.loc[:, ("2018-01-31","2018-02-28","2018-03-31",
                                                     "2018-04-30","2018-05-31","2018-06-30","2018-07-31","2018-08-31",
                                                     "2018-09-30","2018-10-31","2018-11-30","2018-12-31")].mean(axis = 1)

C:\Users\Fatima\AppData\Local\Temp\ipykernel_15484\2431958776.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uscities_dropnanvalue_df["Ave_Price_2018"] = uscities_dropnanvalue_df.loc[:, ("2018-01-31","2018-02-28","2018-03-31",

In [32]:
uscities_dropnanvalue_df["Ave_Price_2019"] = uscities_dropnanvalue_df.loc[:, ("2019-01-31","2019-02-28","2019-03-31",
                                                     "2019-04-30","2019-05-31","2019-06-30","2019-07-31","2019-08-31",
                                                     "2019-09-30","2019-10-31","2019-11-30","2019-12-31")].mean(axis = 1)

C:\Users\Fatima\AppData\Local\Temp\ipykernel_15484\844977901.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uscities_dropnanvalue_df["Ave_Price_2019"] = uscities_dropnanvalue_df.loc[:, ("2019-01-31","2019-02-28","2019-03-31",

In [33]:
uscities_dropnanvalue_df["Ave_Price_2020"] = uscities_dropnanvalue_df.loc[:, ("2020-01-31","2020-02-29","2020-03-31",
                                                     "2020-04-30","2020-05-31","2020-06-30","2020-07-31","2020-08-31",
                                                     "2020-09-30","2020-10-31","2020-11-30","2020-12-31")].mean(axis = 1)

C:\Users\Fatima\AppData\Local\Temp\ipykernel_15484\3598517054.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uscities_dropnanvalue_df["Ave_Price_2020"] = uscities_dropnanvalue_df.loc[:, ("2020-01-31","2020-02-29","2020-03-31",

In [34]:
uscities_dropnanvalue_df["Ave_Price_2021"] = uscities_dropnanvalue_df.loc[:, ("2021-01-31","2021-02-28","2021-03-31",
                                                     "2021-04-30","2021-05-31","2021-06-30","2021-07-31","2021-08-31",
                                                     "2021-09-30","2021-10-31","2021-11-30","2021-12-31")].mean(axis = 1)

C:\Users\Fatima\AppData\Local\Temp\ipykernel_15484\404588295.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uscities_dropnanvalue_df["Ave_Price_2021"] = uscities_dropnanvalue_df.loc[:, ("2021-01-31","2021-02-28","2021-03-31",

In [35]:
uscities_dropnanvalue_df["Ave_Price_2022"] = uscities_dropnanvalue_df.loc[:, ("2022-01-31","2022-02-28","2022-03-31",
                                                     "2022-04-30","2022-05-31","2022-06-30","2022-07-31","2022-08-31",
                                                     "2022-09-30","2022-10-31","2022-11-30","2022-12-31")].mean(axis = 1)

C:\Users\Fatima\AppData\Local\Temp\ipykernel_15484\209286469.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uscities_dropnanvalue_df["Ave_Price_2022"] = uscities_dropnanvalue_df.loc[:, ("2022-01-31","2022-02-28","2022-03-31",

In [36]:
uscities_dropnanvalue_df["Ave_Price_2023"] = uscities_dropnanvalue_df.loc[:, ("2023-01-31","2023-02-28","2023-03-31",
                                                     "2023-04-30","2023-05-31","2023-06-30","2023-07-31","2023-08-31")].mean(axis = 1)

C:\Users\Fatima\AppData\Local\Temp\ipykernel_15484\1561636248.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uscities_dropnanvalue_df["Ave_Price_2023"] = uscities_dropnanvalue_df.loc[:, ("2023-01-31","2023-02-28","2023-03-31",

In [37]:
uscities_dropnanvalue_df

,ID,city,state,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,2000-06-30,2000-07-31,...,Ave_Price_2014,Ave_Price_2015,Ave_Price_2016,Ave_Price_2017,Ave_Price_2018,Ave_Price_2019,Ave_Price_2020,Ave_Price_2021,Ave_Price_2022,Ave_Price_2023
0,6181,New York,NY,233968.364425,235213.501084,236488.118768,238940.702785,241430.215332,244106.123004,246944.755968,...,497468.842249,531383.030178,574357.234337,621697.066086,669250.454306,694857.749266,702979.835828,727060.227301,769957.520743,739600.370271
1,12447,Los Angeles,CA,220520.005437,220853.896732,221831.954831,223783.620251,226221.003294,228578.445921,230972.696592,...,485391.840071,513805.128719,534704.827046,582018.925335,659425.489874,687676.784010,730268.668600,834153.165864,928229.446392,898829.623616
2,39051,Houston,TX,101098.174825,101072.488436,100932.626580,100891.286421,100875.892630,101046.058329,101254.556719,...,135469.127726,151680.007178,162753.094965,170737.280587,179059.231601,188491.100981,196896.161454,221789.680415,258327.399933,263100.676639
3,17426,Chicago,IL,143296.270440,143334.554887,143692.831927,144618.102145,145801.865377,147065.465782,148212.438494,...,199930.579061,212535.743258,225239.874553,236222.599991,247620.896220,249870.349049,257236.748908,278134.808377,289146.845946,283806.165953
4,6915,San Antonio,TX,98022.284380,98113.286803,98184.283346,98312.272270,97871.785680,97263.918669,96600.336260,...,132545.783694,143665.352798,155435.590672,166731.063745,177616.848685,185617.609592,196493.402340,223877.348653,261000.064078,263495.928294
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21570,46631,Mount Charleston,NV,345611.271952,348264.776476,350814.629153,354814.142980,360575.350438,365356.654796,371629.990756,...,271543.239965,290526.140880,304045.596007,331111.833039,370669.880980,395963.699648,415321.033931,482162.933357,560641.503230,535490.506830
21571,255422,Clearview,WV,82531.738290,81807.974214,81340.049523,80739.872659,80858.410029,81818.795283,82881.030946,...,125672.044221,130324.418478,133738.966055,137174.417978,147387.139454,150950.488888,157821.155012,173959.839379,183258.741359,184102.354843
21578,54740,Tribes Hill,NY,59401.994790,59606.785686,59923.188084,60322.100038,60859.338739,61766.430192,62796.574847,...,93528.688626,95816.293277,97362.556202,102655.439591,109554.089942,114431.352648,123149.782214,143284.145687,154755.567965,156782.134824
21581,22166,Haskins,OH,133823.393269,132379.855310,132806.866114,132801.959231,133825.625804,133890.592301,134685.025686,...,158754.985782,164809.127683,169559.258144,178855.587672,186657.171414,194178.360750,204449.952132,225471.205095,243694.463347,255479.495017
21606,9559,Galesville,MD,242781.564430,242775.204647,243224.582462,245264.159900,247500.195435,250430.846452,253179.085301,...,462312.455016,452575.461141,458447.074269,476686.593362,500286.742072,514936.169113,524721.046568,581134.054236,618026.097254,621319.201335

In [38]:
uscities_means_df = uscities_dropnanvalue_df[["ID","city","state","Ave_Price_2000","Ave_Price_2001","Ave_Price_2002","Ave_Price_2003",
                                             "Ave_Price_2004","Ave_Price_2005","Ave_Price_2006","Ave_Price_2007",
                                              "Ave_Price_2008","Ave_Price_2009","Ave_Price_2010","Ave_Price_2011",
                                             "Ave_Price_2012","Ave_Price_2013","Ave_Price_2014","Ave_Price_2015",
                                              "Ave_Price_2016","Ave_Price_2017","Ave_Price_2018","Ave_Price_2019",
                                              "Ave_Price_2020","Ave_Price_2021","Ave_Price_2022","Ave_Price_2023"
                                             ]]

In [39]:
uscities_means_df["Total_Ave_Price"] = uscities_means_df.loc[:, ("Ave_Price_2000","Ave_Price_2001","Ave_Price_2002","Ave_Price_2003",
                                             "Ave_Price_2004","Ave_Price_2005","Ave_Price_2006","Ave_Price_2007",
                                              "Ave_Price_2008","Ave_Price_2009","Ave_Price_2010","Ave_Price_2011",
                                             "Ave_Price_2012","Ave_Price_2013","Ave_Price_2014","Ave_Price_2015",
                                              "Ave_Price_2016","Ave_Price_2017","Ave_Price_2018","Ave_Price_2019",
                                              "Ave_Price_2020","Ave_Price_2021","Ave_Price_2022","Ave_Price_2023")].mean(axis = 1)

C:\Users\Fatima\AppData\Local\Temp\ipykernel_15484\3441488324.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uscities_means_df["Total_Ave_Price"] = uscities_means_df.loc[:, ("Ave_Price_2000","Ave_Price_2001","Ave_Price_2002","Ave_Price_2003",

In [40]:
uscities_means_df["changing_price"] = (uscities_means_df.loc[:, "Ave_Price_2023"]- uscities_means_df.loc[:, "Ave_Price_2000"])/uscities_means_df.loc[:, "Ave_Price_2000"]
uscities_means_df

C:\Users\Fatima\AppData\Local\Temp\ipykernel_15484\1691737207.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uscities_means_df["changing_price"] = (uscities_means_df.loc[:, "Ave_Price_2023"]- uscities_means_df.loc[:, "Ave_Price_2000"])/uscities_means_df.loc[:, "Ave_Price_2000"]

,ID,city,state,Ave_Price_2000,Ave_Price_2001,Ave_Price_2002,Ave_Price_2003,Ave_Price_2004,Ave_Price_2005,Ave_Price_2006,...,Ave_Price_2016,Ave_Price_2017,Ave_Price_2018,Ave_Price_2019,Ave_Price_2020,Ave_Price_2021,Ave_Price_2022,Ave_Price_2023,Total_Ave_Price,changing_price
0,6181,New York,NY,246019.980697,278408.778800,302725.654248,336616.000375,378900.493559,436514.407699,502019.613490,...,574357.234337,621697.066086,669250.454306,694857.749266,702979.835828,727060.227301,769957.520743,739600.370271,510036.174248,2.006261
1,12447,Los Angeles,CA,229986.963586,253372.550999,287390.381399,342003.584306,425282.630440,510823.968959,590413.096795,...,534704.827046,582018.925335,659425.489874,687676.784010,730268.668600,834153.165864,928229.446392,898829.623616,522852.887943,2.908176
2,39051,Houston,TX,101601.653214,103607.472921,106747.077137,110350.501976,116715.531001,122166.788186,124250.870721,...,162753.094965,170737.280587,179059.231601,188491.100981,196896.161454,221789.680415,258327.399933,263100.676639,148171.566222,1.589531
3,17426,Chicago,IL,148491.301242,165693.521898,182128.615787,198948.099706,219230.987604,242676.312401,267601.544001,...,225239.874553,236222.599991,247620.896220,249870.349049,257236.748908,278134.808377,289146.845946,283806.165953,223904.300939,0.911265
4,6915,San Antonio,TX,97249.516932,95678.819123,96560.739564,99481.881707,106590.236886,112472.103029,118137.870371,...,155435.590672,166731.063745,177616.848685,185617.609592,196493.402340,223877.348653,261000.064078,263495.928294,145563.390037,1.709483
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21570,46631,Mount Charleston,NV,366109.371930,388567.726894,435505.515245,444258.128946,518750.235073,583094.411537,631596.766602,...,304045.596007,331111.833039,370669.880980,395963.699648,415321.033931,482162.933357,560641.503230,535490.506830,406179.720223,0.462652
21571,255422,Clearview,WV,82964.982619,90894.782935,95171.353833,98832.057514,103834.682751,114791.494493,124175.810056,...,133738.966055,137174.417978,147387.139454,150950.488888,157821.155012,173959.839379,183258.741359,184102.354843,129314.124101,1.219037
21578,54740,Tribes Hill,NY,61648.675680,65863.386133,71370.586262,76476.534964,84993.769173,95148.909809,101165.359437,...,97362.556202,102655.439591,109554.089942,114431.352648,123149.782214,143284.145687,154755.567965,156782.134824,101103.122786,1.543155
21581,22166,Haskins,OH,135112.518251,145546.074852,148284.933194,154884.793152,155776.062219,159720.386377,164581.102179,...,169559.258144,178855.587672,186657.171414,194178.360750,204449.952132,225471.205095,243694.463347,255479.495017,172152.155448,0.890865
21606,9559,Galesville,MD,251249.923771,273935.400217,320090.476153,364463.714422,454762.072360,535774.812867,604089.516705,...,458447.074269,476686.593362,500286.742072,514936.169113,524721.046568,581134.054236,618026.097254,621319.201335,479342.983720,1.472913

In [41]:
USCities_AvePrices = uscities_means_df

In [42]:
##USCities_AvePrices.to_csv("output/USCities_AvePrices.csv", index=False)

In [43]:
USCities_AvePrices

,ID,city,state,Ave_Price_2000,Ave_Price_2001,Ave_Price_2002,Ave_Price_2003,Ave_Price_2004,Ave_Price_2005,Ave_Price_2006,...,Ave_Price_2016,Ave_Price_2017,Ave_Price_2018,Ave_Price_2019,Ave_Price_2020,Ave_Price_2021,Ave_Price_2022,Ave_Price_2023,Total_Ave_Price,changing_price
0,6181,New York,NY,246019.980697,278408.778800,302725.654248,336616.000375,378900.493559,436514.407699,502019.613490,...,574357.234337,621697.066086,669250.454306,694857.749266,702979.835828,727060.227301,769957.520743,739600.370271,510036.174248,2.006261
1,12447,Los Angeles,CA,229986.963586,253372.550999,287390.381399,342003.584306,425282.630440,510823.968959,590413.096795,...,534704.827046,582018.925335,659425.489874,687676.784010,730268.668600,834153.165864,928229.446392,898829.623616,522852.887943,2.908176
2,39051,Houston,TX,101601.653214,103607.472921,106747.077137,110350.501976,116715.531001,122166.788186,124250.870721,...,162753.094965,170737.280587,179059.231601,188491.100981,196896.161454,221789.680415,258327.399933,263100.676639,148171.566222,1.589531
3,17426,Chicago,IL,148491.301242,165693.521898,182128.615787,198948.099706,219230.987604,242676.312401,267601.544001,...,225239.874553,236222.599991,247620.896220,249870.349049,257236.748908,278134.808377,289146.845946,283806.165953,223904.300939,0.911265
4,6915,San Antonio,TX,97249.516932,95678.819123,96560.739564,99481.881707,106590.236886,112472.103029,118137.870371,...,155435.590672,166731.063745,177616.848685,185617.609592,196493.402340,223877.348653,261000.064078,263495.928294,145563.390037,1.709483
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21570,46631,Mount Charleston,NV,366109.371930,388567.726894,435505.515245,444258.128946,518750.235073,583094.411537,631596.766602,...,304045.596007,331111.833039,370669.880980,395963.699648,415321.033931,482162.933357,560641.503230,535490.506830,406179.720223,0.462652
21571,255422,Clearview,WV,82964.982619,90894.782935,95171.353833,98832.057514,103834.682751,114791.494493,124175.810056,...,133738.966055,137174.417978,147387.139454,150950.488888,157821.155012,173959.839379,183258.741359,184102.354843,129314.124101,1.219037
21578,54740,Tribes Hill,NY,61648.675680,65863.386133,71370.586262,76476.534964,84993.769173,95148.909809,101165.359437,...,97362.556202,102655.439591,109554.089942,114431.352648,123149.782214,143284.145687,154755.567965,156782.134824,101103.122786,1.543155
21581,22166,Haskins,OH,135112.518251,145546.074852,148284.933194,154884.793152,155776.062219,159720.386377,164581.102179,...,169559.258144,178855.587672,186657.171414,194178.360750,204449.952132,225471.205095,243694.463347,255479.495017,172152.155448,0.890865
21606,9559,Galesville,MD,251249.923771,273935.400217,320090.476153,364463.714422,454762.072360,535774.812867,604089.516705,...,458447.074269,476686.593362,500286.742072,514936.169113,524721.046568,581134.054236,618026.097254,621319.201335,479342.983720,1.472913

In [44]:
#greate a data frame 
usc_lat_long_df = pd.DataFrame(data=uscities_lat_long)

In [45]:
#drop nan values,
usc_lat_long_drop = usc_lat_long_df.dropna()

In [46]:
usc_lat_long_drop.columns

Index(['city', 'city_ascii', 'state_id', 'state_name', 'county_fips',
       'county_name', 'lat', 'lng', 'population', 'density', 'source',
       'military', 'incorporated', 'timezone', 'ranking', 'zips', 'id'],
      dtype='object')

In [47]:
usc_lat_long_columns = usc_lat_long_drop.drop(columns=['city_ascii', 'state_id', 'state_name', 'county_fips',
       'county_name', 'source',
       'military', 'incorporated', 'timezone', 'ranking', 'zips', 'id'])
usc_lat_long = usc_lat_long_columns
usc_lat_long

                          city      lat       lng  population  density
0                     New York  40.6943  -73.9249    18972871  10768.2
1                  Los Angeles  34.1141 -118.4068    12121244   3267.6
2                      Chicago  41.8375  -87.6866     8595181   4576.6
3                        Miami  25.7840  -80.2101     5711945   4945.7
4                       Dallas  32.7935  -96.7667     5668165   1522.2
...                        ...      ...       ...         ...      ...
30839                Ironville  40.6586  -78.2155           0     59.2
30840                  Newkirk  35.0635 -104.2715           0      0.0
30841           Falcon Village  26.5652  -99.1341           0     38.9
30842             Hidden Lakes  40.5479  -82.7632           0     18.6
30843  El Monte Mobile Village  36.5471 -119.4251           0    155.4

[30842 rows x 5 columns]

In [48]:
usc_lat_long.to_csv("output/USCities.csv", index=False)

In [49]:
#merge both data on city column:
USCities_data = USCities_AvePrices.merge(usc_lat_long, how='outer', on='city')
USCities_data

,ID,city,state,Ave_Price_2000,Ave_Price_2001,Ave_Price_2002,Ave_Price_2003,Ave_Price_2004,Ave_Price_2005,Ave_Price_2006,...,Ave_Price_2020,Ave_Price_2021,Ave_Price_2022,Ave_Price_2023,Total_Ave_Price,changing_price,lat,lng,population,density
0,6181.0,New York,NY,246019.980697,278408.778800,302725.654248,336616.000375,378900.493559,436514.407699,502019.613490,...,702979.835828,727060.227301,769957.520743,739600.370271,510036.174248,2.006261,40.6943,-73.9249,18972871.0,10768.2
1,12447.0,Los Angeles,CA,229986.963586,253372.550999,287390.381399,342003.584306,425282.630440,510823.968959,590413.096795,...,730268.668600,834153.165864,928229.446392,898829.623616,522852.887943,2.908176,34.1141,-118.4068,12121244.0,3267.6
2,12447.0,Los Angeles,CA,229986.963586,253372.550999,287390.381399,342003.584306,425282.630440,510823.968959,590413.096795,...,730268.668600,834153.165864,928229.446392,898829.623616,522852.887943,2.908176,26.4947,-97.7862,366.0,450.8
3,39051.0,Houston,TX,101601.653214,103607.472921,106747.077137,110350.501976,116715.531001,122166.788186,124250.870721,...,196896.161454,221789.680415,258327.399933,263100.676639,148171.566222,1.589531,29.7860,-95.3885,5650910.0,1394.6
4,39051.0,Houston,TX,101601.653214,103607.472921,106747.077137,110350.501976,116715.531001,122166.788186,124250.870721,...,196896.161454,221789.680415,258327.399933,263100.676639,148171.566222,1.589531,33.8963,-89.0031,3763.0,179.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45232,NaN,Mount Wilson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,38.2350,-114.4504,0.0,2.2
45233,NaN,Kohatk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,32.5781,-112.0032,0.0,77.3
45234,NaN,Falcon Village,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,26.5652,-99.1341,0.0,38.9
45235,NaN,Hidden Lakes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,40.5479,-82.7632,0.0,18.6
45236,NaN,El Monte Mobile Village,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,36.5471,-119.4251,0.0,155.4

In [50]:
USCities = USCities_data.drop_duplicates(subset=['ID'])

In [51]:
USCities

,ID,city,state,Ave_Price_2000,Ave_Price_2001,Ave_Price_2002,Ave_Price_2003,Ave_Price_2004,Ave_Price_2005,Ave_Price_2006,...,Ave_Price_2020,Ave_Price_2021,Ave_Price_2022,Ave_Price_2023,Total_Ave_Price,changing_price,lat,lng,population,density
0,6181.0,New York,NY,246019.980697,278408.778800,302725.654248,336616.000375,378900.493559,436514.407699,502019.613490,...,702979.835828,727060.227301,769957.520743,739600.370271,510036.174248,2.006261,40.6943,-73.9249,18972871.0,10768.2
1,12447.0,Los Angeles,CA,229986.963586,253372.550999,287390.381399,342003.584306,425282.630440,510823.968959,590413.096795,...,730268.668600,834153.165864,928229.446392,898829.623616,522852.887943,2.908176,34.1141,-118.4068,12121244.0,3267.6
3,39051.0,Houston,TX,101601.653214,103607.472921,106747.077137,110350.501976,116715.531001,122166.788186,124250.870721,...,196896.161454,221789.680415,258327.399933,263100.676639,148171.566222,1.589531,29.7860,-95.3885,5650910.0,1394.6
11,55829.0,Houston,OH,105659.212922,111731.437854,113266.123977,116107.643820,118621.108928,120571.011601,123144.665607,...,182078.132733,210624.096040,230619.198582,238112.357168,144956.957528,1.253588,29.7860,-95.3885,5650910.0,1394.6
19,17426.0,Chicago,IL,148491.301242,165693.521898,182128.615787,198948.099706,219230.987604,242676.312401,267601.544001,...,257236.748908,278134.808377,289146.845946,283806.165953,223904.300939,0.911265,41.8375,-87.6866,8595181.0,4576.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27109,255422.0,Clearview,WV,82964.982619,90894.782935,95171.353833,98832.057514,103834.682751,114791.494493,124175.810056,...,157821.155012,173959.839379,183258.741359,184102.354843,129314.124101,1.219037,47.8292,-122.1451,3621.0,320.2
27112,54740.0,Tribes Hill,NY,61648.675680,65863.386133,71370.586262,76476.534964,84993.769173,95148.909809,101165.359437,...,123149.782214,143284.145687,154755.567965,156782.134824,101103.122786,1.543155,42.9479,-74.2989,922.0,147.4
27113,22166.0,Haskins,OH,135112.518251,145546.074852,148284.933194,154884.793152,155776.062219,159720.386377,164581.102179,...,204449.952132,225471.205095,243694.463347,255479.495017,172152.155448,0.890865,41.4648,-83.7043,1138.0,260.8
27114,9559.0,Galesville,MD,251249.923771,273935.400217,320090.476153,364463.714422,454762.072360,535774.812867,604089.516705,...,524721.046568,581134.054236,618026.097254,621319.201335,479342.983720,1.472913,44.0839,-91.3580,1436.0,482.7
27116,NaN,Queens,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,40.7498,-73.7976,2405464.0,8503.7

In [52]:
USCities.to_csv("output/USCities.csv", index=False)

In [53]:
US_Housing_Properties.columns

Index(['property_url', 'property_id', 'address', 'street_name', 'apartment',
       'city', 'state', 'latitude', 'longitude', 'postcode', 'price',
       'bedroom_number', 'bathroom_number', 'price_per_unit', 'living_space',
       'land_space', 'land_space_unit', 'broker_id', 'property_type',
       'property_status', 'year_build', 'total_num_units', 'listing_age',
       'RunDate', 'agency_name', 'agent_name', 'agent_phone',
       'is_owned_by_zillow'],
      dtype='object')

In [54]:
US_Housing_Properties_columns = US_Housing_Properties.drop(columns=['property_url','street_name', 'apartment', 'price_per_unit', 'broker_id', 'year_build', 'total_num_units', 'listing_age',
       'RunDate', 'agency_name', 'agent_name', 'agent_phone',
       'is_owned_by_zillow'])

In [55]:
US_Housing_Properties_columns

,property_id,address,city,state,latitude,longitude,postcode,price,bedroom_number,bathroom_number,living_space,land_space,land_space_unit,property_type,property_status
0,2064212272,"3 Plat #83-10, Wrangell, AK 99929",Wrangell,AK,NaN,NaN,99929,135000.0,NaN,NaN,NaN,3.8860,acres,LOT,FOR_SALE
1,249518113,"117 3rd St, Wrangell, AK 99929",Wrangell,AK,56.474518,-132.386000,99929,589500.0,3.0,3.0,2478.0,7492.0000,sqft,SINGLE_FAMILY,FOR_SALE
2,2077729913,"LOT 2A Front St, Wrangell, AK 99929",Wrangell,AK,56.471638,-132.386860,99929,99999.0,NaN,0.0,NaN,7222.0000,sqft,LOT,FOR_SALE
3,2067488502,"LOT A Plat #2009-6, Wrangell, AK 99929",Wrangell,AK,NaN,NaN,99929,495000.0,3.0,1.0,1500.0,61.9705,acres,SINGLE_FAMILY,FOR_SALE
4,249518139,"335 Cassiar St, Wrangell, AK 99929",Wrangell,AK,56.475697,-132.389050,99929,405000.0,5.0,3.0,2080.0,10436.0000,sqft,SINGLE_FAMILY,FOR_SALE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599995,4303608,"6317 Virginia Ln, Matteson, IL 60443",Matteson,IL,41.523070,-87.769340,60443,350000.0,4.0,3.0,2600.0,10375.9920,sqft,SINGLE_FAMILY,FOR_SALE
599996,2078144422,"LOT 16 Ray Ave, West Chicago, IL 60185",West Chicago,IL,NaN,NaN,60185,29900.0,NaN,NaN,NaN,0.2600,acres,LOT,FOR_SALE
599997,4604875,"12S135 Lemont Rd, Lemont, IL 60439",Lemont,IL,41.697723,-88.003746,60439,859000.0,3.0,3.0,3373.0,4.8204,acres,SINGLE_FAMILY,FOR_SALE
599998,65578365,"4701 Abbey Ln, Matteson, IL 60443",Matteson,IL,41.519527,-87.730644,60443,465000.0,5.0,4.0,3301.0,10193.0400,sqft,SINGLE_FAMILY,FOR_SALE
599999,4418670,"321 Allen Ave, West Chicago, IL 60185",West Chicago,IL,41.879490,-88.203010,60185,310000.0,4.0,2.0,1709.0,6634.1880,sqft,SINGLE_FAMILY,FOR_SALE

In [56]:
US_Properties = US_Housing_Properties_columns.dropna()

In [57]:
US_Properties.dtypes

property_id          int64
address             object
city                object
state               object
latitude           float64
longitude          float64
postcode            object
price              float64
bedroom_number     float64
bathroom_number    float64
living_space       float64
land_space         float64
land_space_unit     object
property_type       object
property_status     object
dtype: object

In [58]:
US_Properties_type = US_Properties.astype({'bedroom_number': 'int64', 'bathroom_number': 'int64' })

In [59]:
USProperties_Data = US_Properties_type
USProperties_Data

,property_id,address,city,state,latitude,longitude,postcode,price,bedroom_number,bathroom_number,living_space,land_space,land_space_unit,property_type,property_status
1,249518113,"117 3rd St, Wrangell, AK 99929",Wrangell,AK,56.474518,-132.386000,99929,589500.0,3,3,2478.0,7492.0000,sqft,SINGLE_FAMILY,FOR_SALE
4,249518139,"335 Cassiar St, Wrangell, AK 99929",Wrangell,AK,56.475697,-132.389050,99929,405000.0,5,3,2080.0,10436.0000,sqft,SINGLE_FAMILY,FOR_SALE
7,2069574197,"532.5 Front St, Wrangell, AK 99929",Wrangell,AK,56.468544,-132.379650,99929,130000.0,3,1,1250.0,3483.0000,sqft,SINGLE_FAMILY,FOR_SALE
44,243013558,"501 Noseeum St, Petersburg, AK 99833",Petersburg,AK,56.806820,-132.961800,99833,165000.0,1,1,700.0,0.3528,acres,SINGLE_FAMILY,PENDING
48,243013641,"905 Odin St, Petersburg, AK 99833",Petersburg,AK,56.806230,-132.971130,99833,375000.0,3,3,1652.0,8000.0000,sqft,SINGLE_FAMILY,PENDING
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599993,83909960,"611 Hickory Ln, West Chicago, IL 60185",West Chicago,IL,41.898396,-88.192670,60185,549000.0,4,5,3409.0,0.2500,acres,SINGLE_FAMILY,FOR_SALE
599995,4303608,"6317 Virginia Ln, Matteson, IL 60443",Matteson,IL,41.523070,-87.769340,60443,350000.0,4,3,2600.0,10375.9920,sqft,SINGLE_FAMILY,FOR_SALE
599997,4604875,"12S135 Lemont Rd, Lemont, IL 60439",Lemont,IL,41.697723,-88.003746,60439,859000.0,3,3,3373.0,4.8204,acres,SINGLE_FAMILY,FOR_SALE
599998,65578365,"4701 Abbey Ln, Matteson, IL 60443",Matteson,IL,41.519527,-87.730644,60443,465000.0,5,4,3301.0,10193.0400,sqft,SINGLE_FAMILY,FOR_SALE
599999,4418670,"321 Allen Ave, West Chicago, IL 60185",West Chicago,IL,41.879490,-88.203010,60185,310000.0,4,2,1709.0,6634.1880,sqft,SINGLE_FAMILY,FOR_SALE

In [60]:
USProperties_Data.to_csv("output/USProperties.csv", index=False)

In [61]:
#USProperties_Data.to_json ('output/USProperties.json', orient = "records")

In [62]:
#USCities.to_json ('output/USCities.json', orient = "records")

In [63]:
#USProperties_Data.to_json ('output/USProperties.json', orient = "records")

In [64]:
USProperties_Data.loc[:, ("price")].max()

250000000.0

In [65]:
USProperties_Data.loc[:, ("price")].min()

0.0

In [66]:
price = []
for x in USProperties_Data["price"]:
    if x>0:
        price.append(x)

In [67]:
price

[589500.0,
 405000.0,
 130000.0,
 165000.0,
 375000.0,
 220000.0,
 529900.0,
 599900.0,
 575900.0,
 680000.0,
 635000.0,
 160000.0,
 217000.0,
 369000.0,
 350000.0,
 899000.0,
 590000.0,
 289000.0,
 167500.0,
 350000.0,
 575000.0,
 490000.0,
 625000.0,
 529900.0,
 625000.0,
 349500.0,
 399900.0,
 689000.0,
 405000.0,
 720000.0,
 460000.0,
 675000.0,
 499900.0,
 425000.0,
 574900.0,
 489000.0,
 475000.0,
 395000.0,
 530000.0,
 659000.0,
 405000.0,
 625000.0,
 595000.0,
 515000.0,
 505000.0,
 399000.0,
 589900.0,
 470000.0,
 865000.0,
 600000.0,
 359000.0,
 395000.0,
 1300000.0,
 379000.0,
 644000.0,
 600000.0,
 949000.0,
 452000.0,
 849900.0,
 604000.0,
 439900.0,
 649900.0,
 410000.0,
 425000.0,
 509000.0,
 515000.0,
 414900.0,
 645000.0,
 675000.0,
 390000.0,
 859900.0,
 450000.0,
 618000.0,
 299900.0,
 599900.0,
 369000.0,
 599000.0,
 259000.0,
 699000.0,
 925000.0,
 699000.0,
 269000.0,
 359900.0,
 185000.0,
 499900.0,
 99900.0,
 880000.0,
 225000.0,
 794900.0,
 580000.0,
 639900.0,
 749900.0,
 625000.0,
 125000.0,
 2228044.0,
 450000.0,
 495000.0,
 489000.0,
 300000.0,
 285000.0,
 275000.0,
 200000.0,
 995000.0,
 449000.0,
 539000.0,
 1600000.0,
 587000.0,
 295000.0,
 196000.0,
 364500.0,
 629000.0,
 405000.0,
 95000.0,
 419000.0,
 655000.0,
 619000.0,
 869900.0,
 69000.0,
 495000.0,
 375000.0,
 90000.0,
 250000.0,
 649500.0,
 960000.0,
 789000.0,
 875000.0,
 599000.0,
 559000.0,
 320000.0,
 369000.0,
 85000.0,
 195000.0,
 280000.0,
 1100000.0,
 125000.0,
 590000.0,
 149900.0,
 188900.0,
 99900.0,
 80000.0,
 525000.0,
 660000.0,
 469500.0,
 180000.0,
 239500.0,
 225000.0,
 425000.0,
 45000.0,
 390000.0,
 215000.0,
 144000.0,
 265000.0,
 204900.0,
 499000.0,
 282650.0,
 550000.0,
 244900.0,
 389900.0,
 390000.0,
 384900.0,
 530000.0,
 80000.0,
 60000.0,
 156900.0,
 129000.0,
 285999.0,
 535000.0,
 310000.0,
 379500.0,
 499900.0,
 299900.0,
 249900.0,
 225000.0,
 129000.0,
 144000.0,
 349000.0,
 265000.0,
 600000.0,
 199900.0,
 489900.0,
 310000.0,
 269000.0,
 155000.0,
 450000.0,
 55000.0,
 469000.0,
 514900.0,
 514900.0,
 125000.0,
 355000.0,
 400000.0,
 2400000.0,
 325000.0,
 335000.0,
 59900.0,
 359900.0,
 384900.0,
 140000.0,
 239900.0,
 184900.0,
 530000.0,
 595000.0,
 325000.0,
 131000.0,
 240000.0,
 249900.0,
 180000.0,
 1230000.0,
 150000.0,
 1099000.0,
 600000.0,
 464900.0,
 160000.0,
 159900.0,
 110000.0,
 537500.0,
 650000.0,
 885000.0,
 699000.0,
 1200000.0,
 637000.0,
 629000.0,
 550000.0,
 424000.0,
 289900.0,
 479400.0,
 314900.0,
 450000.0,
 400000.0,
 299900.0,
 414900.0,
 52900.0,
 299000.0,
 339900.0,
 275000.0,
 775000.0,
 229500.0,
 449900.0,
 340000.0,
 299900.0,
 225000.0,
 145000.0,
 380000.0,
 399500.0,
 493000.0,
 130000.0,
 350000.0,
 420000.0,
 100000.0,
 221500.0,
 465000.0,
 254900.0,
 499500.0,
 380000.0,
 124900.0,
 340000.0,
 437950.0,
 354900.0,
 350000.0,
 649900.0,
 515000.0,
 219000.0,
 319500.0,
 875000.0,
 365000.0,
 1199900.0,
 239900.0,
 325000.0,
 316000.0,
 129900.0,
 1499900.0,
 340000.0,
 349900.0,
 225000.0,
 369900.0,
 399900.0,
 424900.0,
 400000.0,
 629900.0,
 531000.0,
 420000.0,
 625000.0,
 325000.0,
 299000.0,
 340000.0,
 239900.0,
 189000.0,
 99000.0,
 50000.0,
 335000.0,
 199900.0,
 334900.0,
 470000.0,
 180000.0,
 145000.0,
 450000.0,
 199900.0,
 270000.0,
 374900.0,
 199500.0,
 365000.0,
 405000.0,
 375000.0,
 349000.0,
 299000.0,
 399900.0,
 525000.0,
 525000.0,
 420000.0,
 420000.0,
 70000.0,
 250000.0,
 384900.0,
 525000.0,
 165000.0,
 415000.0,
 330000.0,
 745000.0,
 895000.0,
 495000.0,
 84995.0,
 419000.0,
 110000.0,
 539000.0,
 264900.0,
 294900.0,
 374900.0,
 168000.0,
 995000.0,
 429000.0,
 199900.0,
 415900.0,
 385000.0,
 220000.0,
 424900.0,
 42000.0,
 265000.0,
 475000.0,
 274900.0,
 549000.0,
 108000.0,
 614900.0,
 449900.0,
 189900.0,
 155000.0,
 325000.0,
 440000.0,
 515000.0,
 420000.0,
 144900.0,
 474900.0,
 439900.0,
 450000.0,
 344900.0,
 375000.0,
 414900.0,
 779000.0,
 375000.0,
 425000.0,
 2400000.0,
 179900.0,
 395000.0,
 56000.0,
 350000.0,
 495000.0,
 299000.0,
 299900.0,
 405000.0,
 285000.0,
 425000.0,
 624900.0,
 355000.0,
 350000.0,
 399900.0,
 839000.0,
 829900.0,
 575000.0,
 300000.0,
 850000.0,
 995000.0,
 409000.0,
 725000.0,
 306500.0,
 379000.0,
 369000.0,
 385000.0,
 680000.0,
 415000.0,
 145000.0,
 389000.0,
 190000.0,
 120000.0,
 190000.0,
 689000.0,
 525000.0,
 1169000.0,
 350000.0,
 685000.0,
 235000.0,
 334900.0,
 78400.0,
 275000.0,
 300000.0,
 349000.0,
 365000.0,
 639000.0,
 650000.0,
 399900.0,
 647578.0,
 977000.0,
 275000.0,
 750000.0,
 90000.0,
 450000.0,
 420000.0,
 205000.0,
 636000.0,
 235000.0,
 499000.0,
 600000.0,
 975000.0,
 598000.0,
 429000.0,
 460000.0,
 450000.0,
 345000.0,
 467000.0,
 375000.0,
 449000.0,
 449900.0,
 369900.0,
 375000.0,
 295000.0,
 390000.0,
 425000.0,
 659000.0,
 279000.0,
 379000.0,
 595000.0,
 330000.0,
 310000.0,
 304000.0,
 565000.0,
 280000.0,
 339900.0,
 390000.0,
 449900.0,
 305000.0,
 385000.0,
 459000.0,
 329000.0,
 610000.0,
 199900.0,
 300000.0,
 234900.0,
 589000.0,
 339900.0,
 630000.0,
 325000.0,
 615000.0,
 655000.0,
 370000.0,
 549000.0,
 515000.0,
 499990.0,
 785000.0,
 645000.0,
 386500.0,
 409900.0,
 235000.0,
 229000.0,
 190000.0,
 425000.0,
 310000.0,
 330000.0,
 559000.0,
 310000.0,
 290000.0,
 235000.0,
 685000.0,
 349000.0,
 390000.0,
 215000.0,
 299000.0,
 450000.0,
 325000.0,
 579000.0,
 420000.0,
 455000.0,
 280000.0,
 399000.0,
 625000.0,
 339900.0,
 399900.0,
 384000.0,
 402500.0,
 655000.0,
 334700.0,
 649000.0,
 350000.0,
 498000.0,
 789000.0,
 299000.0,
 160000.0,
 245000.0,
 370000.0,
 475000.0,
 1350000.0,
 325000.0,
 225000.0,
 465000.0,
 259500.0,
 319900.0,
 549000.0,
 335000.0,
 330000.0,
 425000.0,
 360000.0,
 335000.0,
 475000.0,
 385000.0,
 599000.0,
 355000.0,
 94500.0,
 329000.0,
 415000.0,
 715000.0,
 425000.0,
 265000.0,
 336900.0,
 485000.0,
 479900.0,
 299000.0,
 179500.0,
 380000.0,
 229000.0,
 415000.0,
 1800000.0,
 399500.0,
 370000.0,
 825000.0,
 895000.0,
 360000.0,
 285000.0,
 260000.0,
 500000.0,
 255000.0,
 435000.0,
 379000.0,
 950000.0,
 495000.0,
 365000.0,
 235000.0,
 559000.0,
 359900.0,
 400000.0,
 210000.0,
 535000.0,
 439900.0,
 425000.0,
 385000.0,
 350000.0,
 470000.0,
 579900.0,
 199900.0,
 579990.0,
 325000.0,
 2700000.0,
 225000.0,
 420000.0,
 196900.0,
 800000.0,
 779000.0,
 382500.0,
 825000.0,
 395000.0,
 349000.0,
 825000.0,
 425000.0,
 399000.0,
 490000.0,
 505296.0,
 570000.0,
 234831.0,
 434900.0,
 450000.0,
 375000.0,
 639900.0,
 455000.0,
 365000.0,
 525000.0,
 450000.0,
 475606.0,
 425000.0,
 430000.0,
 549900.0,
 340000.0,
 259000.0,
 360000.0,
 380000.0,
 379900.0,
 345000.0,
 355000.0,
 369484.0,
 216900.0,
 590000.0,
 230000.0,
 610000.0,
 420000.0,
 413500.0,
 245000.0,
 414715.0,
 725000.0,
 375000.0,
 560000.0,
 447500.0,
 230000.0,
 415000.0,
 360000.0,
 487795.0,
 589000.0,
 265500.0,
 527000.0,
 379000.0,
 669000.0,
 225000.0,
 675000.0,
 289900.0,
 324900.0,
 339500.0,
 325000.0,
 715000.0,
 475000.0,
 625000.0,
 524382.0,
 525000.0,
 649999.0,
 399900.0,
 374900.0,
 280000.0,
 525000.0,
 595000.0,
 385000.0,
 795000.0,
 365500.0,
 849000.0,
 422500.0,
 395000.0,
 240000.0,
 330000.0,
 247900.0,
 229000.0,
 275000.0,
 375000.0,
 499500.0,
 80000.0,
 489380.0,
 355000.0,
 865000.0,
 467000.0,
 450000.0,
 425000.0,
 369000.0,
 330000.0,
 490000.0,
 695000.0,
 380000.0,
 675000.0,
 549900.0,
 570000.0,
 395000.0,
 379000.0,
 335000.0,
 475000.0,
 405000.0,
 355000.0,
 699000.0,
 379999.0,
 495000.0,
 450000.0,
 415500.0,
 259000.0,
 325000.0,
 379000.0,
 265000.0,
 484900.0,
 289900.0,
 675000.0,
 497900.0,
 369000.0,
 310000.0,
 559000.0,
 529000.0,
 390000.0,
 430000.0,
 385000.0,
 382000.0,
 339000.0,
 445000.0,
 475000.0,
 685000.0,
 359250.0,
 280000.0,
 399000.0,
 569000.0,
 725000.0,
 249000.0,
 415000.0,
 350000.0,
 660000.0,
 284500.0,
 229000.0,
 159000.0,
 699500.0,
 465000.0,
 375000.0,
 560000.0,
 425000.0,
 270000.0,
 525000.0,
 245000.0,
 399900.0,
 425000.0,
 290000.0,
 420000.0,
 440000.0,
 304900.0,
 545000.0,
 479000.0,
 659000.0,
 589000.0,
 324900.0,
 317500.0,
 415000.0,
 325000.0,
 665900.0,
 515000.0,
 475000.0,
 525000.0,
 330000.0,
 470000.0,
 349000.0,
 719000.0,
 515000.0,
 525000.0,
 295000.0,
 408000.0,
 499000.0,
 528000.0,
 365000.0,
 175000.0,
 503500.0,
 650000.0,
 487000.0,
 429000.0,
 426500.0,
 369000.0,
 430100.0,
 385000.0,
 775000.0,
 625000.0,
 313000.0,
 420000.0,
 565000.0,
 325000.0,
 409000.0,
 392500.0,
 385000.0,
 389900.0,
 252000.0,
 375000.0,
 349900.0,
 575000.0,
 1160000.0,
 374900.0,
 665000.0,
 435000.0,
 775000.0,
 499000.0,
 499000.0,
 435000.0,
 369000.0,
 640000.0,
 339900.0,
 499500.0,
 315000.0,
 1400000.0,
 995000.0,
 332000.0,
 275000.0,
 614550.0,
 500000.0,
 485000.0,
 280000.0,
 379900.0,
 600000.0,
 559000.0,
 499999.0,
 474900.0,
 610000.0,
 239000.0,
 384200.0,
 450000.0,
 465000.0,
 430000.0,
 335000.0,
 449500.0,
 399000.0,
 458500.0,
 725000.0,
 575000.0,
 615000.0,
 625000.0,
 375000.0,
 290000.0,
 465000.0,
 535000.0,
 399900.0,
 470000.0,
 825000.0,
 275000.0,
 339000.0,
 462500.0,
 385000.0,
 695000.0,
 449000.0,
 445000.0,
 329900.0,
 245000.0,
 550000.0,
 249900.0,
 360000.0,
 375000.0,
 280000.0,
 390000.0,
 335000.0,
 365655.0,
 750000.0,
 320000.0,
 370000.0,
 435000.0,
 695000.0,
 625000.0,
 415000.0,
 300000.0,
 580000.0,
 300000.0,
 383055.0,
 475000.0,
 825000.0,
 585000.0,
 475000.0,
 300000.0,
 369000.0,
 389000.0,
 612000.0,
 430000.0,
 499900.0,
 423000.0,
 585000.0,
 420000.0,
 359000.0,
 299900.0,
 335000.0,
 380000.0,
 129900.0,
 575000.0,
 503000.0,
 474000.0,
 983000.0,
 414301.0,
 254900.0,
 595000.0,
 230000.0,
 335000.0,
 450000.0,
 599999.0,
 636405.0,
 507634.0,
 469900.0,
 259000.0,
 550000.0,
 849000.0,
 380000.0,
 95000.0,
 129900.0,
 999000.0,
 125000.0,
 1300000.0,
 850000.0,
 330000.0,
 950000.0,
 465000.0,
 659000.0,
 286000.0,
 459900.0,
 500000.0,
 225000.0,
 499000.0,
 499600.0,
 430000.0,
 439000.0,
 355000.0,
 499900.0,
 515000.0,
 391000.0,
 369200.0,
 680000.0,
 279000.0,
 750000.0,
 384000.0,
 403545.0,
 525000.0,
 450000.0,
 706705.0,
 575000.0,
 669900.0,
 798000.0,
 210000.0,
 2300000.0,
 381000.0,
 475000.0,
 550000.0,
 1600000.0,
 530000.0,
 1690000.0,
 838957.0,
 499900.0,
 685000.0,
 1150000.0,
 1400000.0,
 375000.0,
 369900.0,
 439778.0,
 365970.0,
 560382.0,
 574865.0,
 814700.0,
 557500.0,
 344160.0,
 662500.0,
 749000.0,
 275000.0,
 499000.0,
 610000.0,
 423345.0,
 595000.0,
 645000.0,
 539900.0,
 224000.0,
 380000.0,
 535655.0,
 99900.0,
 535000.0,
 750000.0,
 649800.0,
 797950.0,
 787500.0,
 734000.0,
 549000.0,
 299000.0,
 199900.0,
 549000.0,
 1200000.0,
 650000.0,
 325000.0,
 419999.0,
 515000.0,
 210000.0,
 479000.0,
 159000.0,
 1250000.0,
 265000.0,
 275000.0,
 139000.0,
 1199000.0,
 318887.0,
 410000.0,
 252000.0,
 340000.0,
 682500.0,
 570000.0,
 299000.0,
 279000.0,
 525000.0,
 375000.0,
 980000.0,
 449950.0,
 1299000.0,
 162900.0,
 200000.0,
 325000.0,
 249000.0,
 780000.0,
 749800.0,
 440000.0,
 789800.0,
 159999.0,
 199500.0,
 236000.0,
 ...]

In [68]:
for y in price:
    if y >15000000 and y<25000000:
        print(y)

24000000.0
16500000.0
22500000.0
16000000.0
16700000.0
21750000.0
16900000.0
21500000.0
19999999.0
18950000.0
24470750.0
16500000.0
19000000.0
23000000.0
19500000.0
17550000.0
17995000.0
23000000.0
18500000.0
17000000.0
16500000.0
15500000.0
16995000.0
23500000.0
20000000.0
22900000.0
16750000.0
23500000.0
17500000.0
19500000.0
24500000.0
24500000.0
22500000.0
20000000.0
15595000.0
20000000.0
17800000.0
18000000.0
17900000.0
18000000.0
19500000.0
16700000.0
18000000.0
15250000.0
19750000.0
17750000.0
16499000.0
18800000.0
18900000.0
15500000.0
19500000.0
17500000.0
19900000.0
24500000.0
15999000.0
19800000.0
15300000.0
15500000.0
17500000.0
24500000.0
18000000.0
23500000.0
16950000.0
19500000.0
17499000.0
15375000.0
19800000.0
15988000.0
17900000.0
18800000.0
16995000.0
15500000.0
20995000.0
21000000.0
22500000.0
24500000.0
17500000.0
22950000.0
18900000.0
19500000.0
18995000.0
15500000.0
15900000.0
23500000.0
15750000.0
19995000.0
15950000.0
15995000.0
16850000.0
17500000.0
23000000.0
15900000.0
24000000.0
17000000.0
18500000.0
19500000.0
15995000.0
17900000.0
16995000.0
22500000.0
21000000.0
20500000.0
19995000.0
17000000.0
22500000.0
16800000.0
22900000.0
16900000.0
15980000.0
18690000.0
21995000.0
16995000.0
20800000.0
24975000.0
17995000.0
22500000.0
21995000.0
15495000.0
22950000.0
16800000.0
16800000.0
17900000.0
17900000.0
23500000.0
19000000.0
19950000.0
18500000.0
16950000.0
18000000.0
15500000.0
16900000.0
16500000.0
21000000.0
16500000.0
16900000.0
20995000.0
16998000.0
21500000.0
19995000.0
19475000.0
15949000.0
15750000.0
24950000.0
20500000.0
19995000.0
15900000.0
19250000.0
18500000.0
24995000.0
19950000.0
23500000.0
17300000.0
18995000.0
18000000.0
19995000.0
21000000.0
23995000.0
15195000.0
22999000.0
16900000.0
16500000.0
22800000.0
15500000.0
17500000.0
17995000.0
22950000.0
17500000.0
19900000.0
22900000.0
17500000.0
15995000.0
23995000.0
15995000.0
22995000.0
20980000.0
22000000.0
22000000.0
19999000.0
15995000.0
21950000.0
21900000.0
24950000.0
21995000.0
18500000.0
16500000.0
17995000.0
23995000.0
18900000.0
19900000.0
19990000.0
18000000.0
21585000.0
18900000.0
22500000.0
18975000.0
19900000.0
22850000.0
16500000.0
21750000.0
24500000.0
18500000.0
16850000.0
16995000.0
21500000.0
17995000.0
21950000.0
20000000.0
18000000.0
19995000.0
15200000.0
19995000.0
23495000.0
20800000.0
17750000.0
24995000.0
24995000.0
23500000.0
15200000.0
15750000.0
21995000.0
21500000.0
15900000.0
21000000.0
24500000.0
15500000.0
16900000.0
22600000.0
19500000.0
16500000.0
24220000.0
15995000.0
16000000.0
19250000.0
22500000.0
24000000.0
16500000.0
20000000.0
21000000.0
15500000.0
21258000.0
19955405.0
17500000.0
17500000.0
16000000.0
22900000.0
22900000.0
16500000.0
22700000.0
16000000.0
18700000.0
18000000.0
19750000.0
15995000.0
19500000.0
19500000.0
18000000.0
18950000.0
16000000.0
24950000.0
20000000.0
18000000.0
19000000.0
18995000.0
22900000.0
15950000.0
18500000.0
17500000.0
23000000.0
21500000.0
16000000.0
17900000.0
17900000.0
16900000.0
16950000.0
17750000.0
15950000.0
18900000.0
15900000.0
20995000.0
15195000.0
16000000.0
15195000.0
17000000.0
16499000.0
18500000.0
16200000.0
16995000.0
15500000.0
22500000.0
22500000.0
18000000.0
18800000.0
16500000.0
17995000.0
15250000.0
17500000.0
19750000.0
22000000.0
22500000.0
16250000.0
15650000.0
15650000.0
24900000.0
21000000.0
15995000.0
18999000.0
16000000.0
18000000.0
16500000.0
16999000.0
17850000.0
17900000.0
17950000.0
17500000.0
16500000.0
17995000.0
20000000.0
15200000.0
16800000.0
15500000.0
18900000.0
24500000.0
17555000.0
17200000.0
16800000.0
20000000.0
18000000.0
18750000.0